<% article_div_id = "article_" + article.template_id.to_s + "_div" %>
<% article_rate_div_id = "article_" + article.template_id.to_s + "_rate_div" %>
<div class="row">
  <div class="col-xs-4">
    <%= article.title %>
  </div>

  <div class="col-xs-4">
    <% article_cb_id = "article_" + article.template_id.to_s + "_cb" %>
    <%= f.form_group do %>
      <%= f.check_box :to_be_created, value: false, label: t("Create this article"), data: article.template_id, class: "article_cb", inline: true %>
    <% end %>
  </div>
  
  <div class="col-xs-4">
    <% # wieviele artikel hat der nutzer schon mit diesem template erstellt  %>
    <% # anders gefragt: wieviele artikel des nutzers gibt es, deren template die gleiche idee hat, wie die id dieses templates %>
    <% ntemplates = current_user.articles.where("template_id = ?", article.template_id).count %>
    <%= "(You have already #{ntemplates} Articles of this type in your inventory)" if ntemplates > 0 %>
  </div>
</div>

<div class="row">
  <div id="<%= article_div_id %>" class="secondary_article_inputs">
    <%= f.hidden_field :title %>

    <% # f.number_field :quality, min: 0, max: 5, size: 8 %>

    <%= f.form_group do %>
      <%= f.check_box :gratis, data: { article_id: article_rate_div_id }, class: "article_gratis_cb", inline: true %>
    <% end %>

    <div id="<%= article_rate_div_id %>">
      <%= f.text_field :rate, size: 15 %>
    </div>

    <%= f.collection_select :location_id, current_user.locations, :id, :shortaddress %>

    <%= f.text_area :details, placeholder: Article.human_attribute_name("details") %>

    <%= f.hidden_field :id %>
    <%= f.hidden_field :template_id %>
  </div>
</div>


