<div class="tr">
  <div class="td"><%= Article.human_attribute_name("create") %></div>
  <div class="td"><%= Article.human_attribute_name("title") %></div>
  <div class="td"><%= Article.human_attribute_name("details") %></div>
  <div class="td"><%= Article.human_attribute_name("quality") %></div>
  <div class="td"><%= Article.human_attribute_name("rate_eur") %></div>
  <div class="td"><%= Article.human_attribute_name("rate_interval") %></div>
  <div class="td"><%= Article.human_attribute_name("location") %></div>
</div>
