<div class="row panel panel-default">
  <div class="panel-body">
    <div class="col-xs-2">
      <h5><%= article.title %></h5>
    </div>
    <div class="col-xs-7">
      <div class="col-xs-2">
        Q: <%= article.quality %>
      </div>
      <div class="col-xs-4">
        <%= article.rate %>
      </div>
      <div class="col-xs-6">
        at <%= article.location.shortaddress %>
      </div>
      <div class="col-xs-12">
        <%= article.details %>
      </div>
    </div>
    <div class="col-xs-3">
      <%= link_to t("Edit"), edit_article_path(article), class: "btn btn-default" %>
      <%= link_to t("Delete"), article_path(article), method: :delete, data: { confirm: t("really_delete_article_question") }, class: "btn btn-default" %>
    </div>
  </div>
</div>
