<div class="col-xs-12 col-sm-3 col-sm-push-9">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4>Tipp</h4>
    </div>

    <div class="panel-body">
      Dies ist ein kurzer Hilfetext.
    </div>
  </div>
</div>

<div class="col-xs-12 col-sm-9 col-sm-pull-3">
  <h3><%= t('Locations') %></h3>

  <% @locations.each do |location| %>
    <% location_div_id = "location_" + location.id.to_s + "_div" %>
    <div class="location" id="<%= location_div_id %>">
      <div class="row location_view">
        <%= render 'location', location: location %>
      </div>
      
      <div class="row location_edit">
        <%= bootstrap_form_for(location, layout: :horizontal, remote: true) do |f| %>
          <%= f.text_field :street_and_no %>
          <%= f.text_field :postcode %>
          <%= f.text_field :city %>
          <%= f.text_field :country %>
          <%= f.form_group do %>
            <%= f.submit t("Update") %>
          <% end %>

        <% end %>
      </div>
    </div>
  <% end %>

  <%= bootstrap_form_for :location, url: locations_path, layout: :inline do |f| %>
    <table class="table">
      <tbody>
        <tr>
          <td><%= f.text_field :street_and_no, placeholder: Location.human_attribute_name("street_and_no"), hide_label: true %></td>
          <td><%= f.text_field :postcode, placeholder: Location.human_attribute_name("postcode"), hide_label: true %></td>
          <td><%= f.text_field :city, placeholder: Location.human_attribute_name("city"), hide_label: true %></td>
          <td><%= f.text_field :country, placeholder: Location.human_attribute_name("country"), hide_label: true %></td>
          <td><%= f.submit t("Add") %></td>
        </tr>
      </tbody>
    </table>
  <% end %>
</div>

<script> 
 $(document).ready(function(){
   $(".location_edit").hide();

   $("body").on("click", ".location_edit_button", function(e) {
     e.preventDefault();
     var thedivid = "#location_" + $(this).attr("data-location-id") + "_div .location_edit";
     console.log(thedivid);
     $(thedivid).toggle(200);
   });
 });
</script>
