<div class="col-xs-12 col-sm-3 col-sm-push-9">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4>Tipp</h4>
    </div>

    <div class="panel-body">
      Dies ist ein kurzer Hilfetext.
    </div>
  </div>
</div>

<div class="col-xs-12 col-sm-9 col-sm-pull-3">

  <%= content_tag :h3, t("What now")%>

  <% if (current_user.firstname.blank? && current_user.lastname.blank?) || !(current_user.showemail || ( current_user.showphone && !current_user.phoneno.blank?)) %>
    <p>
      Deine Kontaktinformationen scheinen nicht vollständig zu sein. Aktualisiere sie jetzt!
    </p>
    <%= bootstrap_form_for(resource, as: resource_name, url: edit_user_guidepost_path, html: { method: :put }, layout: :horizontal) do |f| %>
      <%= devise_error_messages! %>
      <%= f.text_field :firstname %>

      <%= f.text_field :lastname %>

      <%= f.text_field :phoneno, label: t("Phone number") %>

      <%= f.form_group do %>
        <%= f.check_box :showemail, label: t("Show email address in contact details to the public") %>
        <%= f.check_box :showphone, label: t("Show phone number in contact details to the public") %>
      <% end %>

      <%= f.form_group do %>
        <%= f.submit t("Update") %>
      <% end %>

    <% end %>
  <% elsif current_user.locations.count == 0 %>
    <p>
      Du hast noch keinen Standort angegeben. Standorte sind Adressen, an denen du Dinge verleihst. Also deine Garage, dein Schrebergarten und natürlich dein Zuhause. Fang also am besten mit Deinem Wohnsitz an!
    </p>
    <%= bootstrap_form_for @location, url: edit_user_guidepost_path, layout: :inline do |f| %>
      <%= f.alert_message t("Please fix the errors below") %>
      <table class="table">
        <tbody>
          <tr>
            <td><%= f.text_field :street_and_no, placeholder: Location.human_attribute_name("street_and_no"), hide_label: true %></td>
            <td><%= f.text_field :postcode, placeholder: Location.human_attribute_name("postcode"), hide_label: true %></td>
            <td><%= f.text_field :city, placeholder: Location.human_attribute_name("city"), hide_label: true %></td>
            <td><%= f.text_field :country, placeholder: Location.human_attribute_name("country"), hide_label: true %></td>
            <td><%= f.submit t("Add") %></td>
          </tr>
        </tbody>
      </table>
    <% end %>
  <% elsif current_user.articles.count == 0 %>
    <p>
      Jetzt bist Du bereit Dein Angebot zu erstellen. Auf zum
    </p>
    <%= link_to t("Artikel einstellen"), user_new_article_from_stockitems_path, class: "btn btn-default" %>
  <% elsif current_user.articles.count < 10 %>
    <p>
      Du hast bisher nur wenige Artikel eingestellt. Auf zum
    </p>
    <%= link_to t("Artikel einstellen"), user_new_article_from_stockitems_path, class: "btn btn-default" %>
  <% else %>
    <p>
      Dein Profil ist gut aufgestellt! Was möchtest du tun?
    </p>
    <%= link_to t("Edit your Profile"), edit_user_basic_path, class: "btn btn-default" %>
    <%= link_to t("Edit your Locations"), user_locations_path, class: "btn btn-default" %>
    <%= link_to t("Manage your Articles"), user_articles_path, class: "btn btn-default" %>
    <%= link_to t("Create new Articles"), user_new_article_from_stockitems_path, class: "btn btn-default" %>
  <% end %>
</div>
