<%= render 'edit_common', context: :new_articles %>

<%= bootstrap_form_for(resource, as: resource_name, url: new_user_articles_path, html: { method: :put }, layout: :inline) do |f| %>
<%= devise_error_messages! %>
<table class="table">
  <thead>
    <tr>
      <th><%= Article.human_attribute_name("title") %></th>
      <th><%= Article.human_attribute_name("details") %></th>
      <th><%= Article.human_attribute_name("rate_eur") %></th>
      <th><%= Article.human_attribute_name("rate_interval") %></th>
      <th><%= Article.human_attribute_name("location") %></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%= f.fields_for :articles, @articles, include_id: false do |articles_form| %>
      <% article = @articles[articles_form.index] %>
      <tr>
        <td><%= articles_form.text_field :title, hide_label: true %></td>
        <td><%= articles_form.text_field :details, hide_label: true %></td>
        <td><%= articles_form.number_field :rate_eur, min: 0, step: 0.01, append: "€", hide_label: true %></td>
        <td><%= articles_form.text_field :rate_interval, hide_label: true %></td>
        <td><%= articles_form.collection_select :location_id, current_user.locations, :id, :shortaddress, hide_label: true %></td>
        <%= articles_form.hidden_field :id %>
      </tr>
    <% end %>
  </tbody>
</table>
<%= f.submit t("Create") %>
<% end %>
