<div class="col-xs-12 col-sm-3 col-sm-push-9">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4>Tipp</h4>
    </div>

    <div class="panel-body">
      Dies ist ein kurzer Hilfetext.
    </div>
  </div>
</div>

<div class="col-xs-12 col-sm-9 col-sm-pull-3">
  <h3><%= t('Create Articles') %></h3>

    <div>      
      <% @rooms.each do |room| %>
        <div>
          <h4>
            <%= room %>
          </h4>
          <div id="<%= underscore(room) %>">
            <% @articles[room].each do |article| %>

              <% article_edit_div_id = "article_" + article.stockitem_id.to_s + "_edit_div" %>
              <% article_rate_div_id = "article_" + article.stockitem_id.to_s + "_rate_div" %>
              <% article_count_div_id = "article_" + article.stockitem_id.to_s + "_count_div" %>
              
              <div class="row">
                <div class="col-xs-6">
                  <a href="#" class="article_cb" data="<%= article.stockitem_id %>">
                    <%= article.title %>
                  </a>
                </div>
                
                <div class="col-xs-6">
                  <% # wieviele artikel hat der nutzer schon mit diesem stockitem erstellt  %>
                  <% # anders gefragt: wieviele artikel des nutzers gibt es, deren stockitem die gleiche idee hat, wie die id dieses stockitems %>
                  <% nstockitems = current_user.articles.where("stockitem_id = ?", article.stockitem_id).count %>
                  <div class="article_count" id="<%= article_count_div_id%>" data="<%= nstockitems %>">
                    <%= content_tag :span, "#{nstockitems}" %> <%= t('in your') %> <%= link_to t('inventory'), edit_user_articles_path %>
                  </div>
                </div>
              </div>

              <div class="row secondary_article_inputs" id="<%= article_edit_div_id %>">
                <div class="col-xs-12">
                  <%= bootstrap_form_for(article, url: new_user_articles_path, layout: :horizontal, remote: true) do |f| %>
                    <%= devise_error_messages! %>
                    <%= f.hidden_field :title %>

                    <% # f.number_field :quality, min: 0, max: 5, size: 8 %>

                    <%= f.form_group do %>
                      <%= f.check_box :gratis, data: { article_id: article_rate_div_id }, class: "article_gratis_cb", inline: true %>
                    <% end %>

                    <div id="<%= article_rate_div_id %>">
                      <%= f.text_field :rate, size: 15 %>
                    </div>

                    <%= f.collection_select :location_id, current_user.locations, :id, :shortaddress %>

                    <%= f.text_area :details, placeholder: Article.human_attribute_name("details") %>

                    <%= f.hidden_field :id %>
                    <%= f.hidden_field :stockitem_id %>
                    <%= f.form_group do %>
                      <%= f.submit t("Create") %>
                    <% end %>
                  <% end %>
                </div>
              </div>

            <% end %>
          </div>
        </div>
      <% end %>
    </div>
</div>

<script> 
 
 $(document).ready(function(){
   $(".secondary_article_inputs").hide();
   
   $(".article_cb").click( function(e) {
     e.preventDefault();
     var thedivid = "#article_" + $(this).attr("data") + "_edit_div";
     console.log(thedivid);
     $(thedivid).toggle(200);
   });
   
   $('body').on('click', '.article_gratis_cb', function() {
     var thedivid = "#" + $(this).attr("data-article-id");
     console.log(thedivid);
     $(thedivid).toggle(200);
   });
   
   $(".article_count[data=0]").hide();
 });
</script>
