<%= render 'edit_common', context: :new_articles %>

<div class="col-xs-12">
  <%= bootstrap_form_for(resource, as: resource_name, url: new_user_articles_path, html: { method: :put }, layout: :inline) do |f| %>
    <%= devise_error_messages! %>

    <%= content_tag :h3, 'Eigene' %>
    
    <div class="table">
      <div class="tr">
        <div class="td"><%= Article.human_attribute_name("create") %></div>
        <div class="td"><%= Article.human_attribute_name("title") %></div>
        <div class="td"><%= Article.human_attribute_name("details") %></div>
        <div class="td"><%= Article.human_attribute_name("quality") %></div>
        <div class="td"><%= Article.human_attribute_name("rate_eur") %></div>
        <div class="td"><%= Article.human_attribute_name("rate_interval") %></div>
        <div class="td"><%= Article.human_attribute_name("location") %></div>
      </div>

      <%= f.fields_for :articles, @articles['new'], include_id: false do |articles_form| %>
        <% article = articles_form.object %>
        <%= render 'article_fields', f: articles_form, article: article %>
      <% end %>

      <div class='links'>
        <%= link_to_add_association 'add article', f, :articles, class: "btn btn-default" %>
      </div>
    </div>

    <% @rooms.each do |room| %>
      <%= content_tag :h3, room %>

      <div class="table">
        <div class="tr">
          <div class="td"><%= Article.human_attribute_name("create") %></div>
          <div class="td"><%= Article.human_attribute_name("title") %></div>
          <div class="td"><%= Article.human_attribute_name("details") %></div>
          <div class="td"><%= Article.human_attribute_name("quality") %></div>
          <div class="td"><%= Article.human_attribute_name("rate_eur") %></div>
          <div class="td"><%= Article.human_attribute_name("rate_interval") %></div>
          <div class="td"><%= Article.human_attribute_name("location") %></div>
        </div>

        <%= f.fields_for :articles, @articles[room], include_id: false do |articles_form| %>
          <% # article = @articles[room][articles_form.index] %>
          <% article = articles_form.object %>
          <%= render 'article_fields', f: articles_form, article: article %>
        <% end %>
      </div>
    <% end %>
    <%= f.submit t("Create") %>
  <% end %>
</div>
