<script>
 function onCreateCheckBoxClicked(article_cb_id, article_div_id) {
   var cb_checked = document.getElementById(article_cb_id).checked
   var input_display = ( cb_checked )? "block" : "none"
   document.getElementById(article_div_id).style.display = input_display
 }

 function onTitleFieldKeyUp(article_title_field_id, article_div_id) {
   var title_field_empty = document.getElementById(article_title_field_id).value.length == 0
   var input_display = ( title_field_empty )? "none" : "block"
   document.getElementById(article_div_id).style.display = input_display
 }

</script>

<%= render 'edit_common', context: :new_articles %>

<div class="col-xs-12">
  <%= bootstrap_form_for(resource, as: resource_name, url: new_user_articles_path, html: { method: :put }, layout: :horizontal) do |f| %>
    <%= devise_error_messages! %>

    <h3>
      <%= link_to "javascript:toggle('Eigene', 'Eigene_toggle_button')", class: "toggle_heading" do %>
        <%= content_tag :span, class: "glyphicon glyphicon-chevron-right", id: "Eigene_toggle_button" do %><% end %>
        Eigene
      <% end %>
    </h3>

    <div id="Eigene" style="display: None;">
      <div class="">

        <%= f.fields_for :articles, @articles['new'], include_id: false do |articles_form| %>
          <% article = articles_form.object %>
          <%= render 'new_article_fields', f: articles_form, article: article %>
        <% end %>

        <div class='links'>
          <%= link_to_add_association 'add article', f, :articles, partial: 'new_article_fields', class: "btn btn-default" %>
        </div>
      </div>
    </div>

    <% @rooms.each do |room| %>
      <h3>
        <%= link_to "javascript:toggle('#{room}', '#{room}_toggle_button')", class: "toggle_heading" do %>
          <%= content_tag :span, class: "glyphicon glyphicon-chevron-right", id: room + "_toggle_button" do %><% end %>
          <%= room %>
        <% end %>
      </h3>

      <div class="">
        <%= content_tag :div, id: room, style: "display: None;" do %>
          <%= f.fields_for :articles, @articles[room], include_id: false do |articles_form| %>
            <% # article = @articles[room][articles_form.index] %>
            <% article = articles_form.object %>
            <%= render 'article_fields', f: articles_form, article: article %>
          <% end %>
        <% end %>
      </div>
    <% end %>
    <%= f.submit t("Create") %>
  <% end %>
</div>
