<h3><%= t('Create Articles') %></h3>

<div class="col-xs-12">
  <%= bootstrap_form_for(resource, as: resource_name, url: new_user_articles_path, html: { method: :put }, layout: :horizontal) do |f| %>
    <%= devise_error_messages! %>

    <div id="accordeon">

      <div>
        <h4>
          <a data-toggle="collapse" data-parent="accordeon" href="#Eigene"><span class="caret-right"></span> Eigene</a>
        </h4>
        <div id="Eigene" class="collapse article-content">
          <%= f.fields_for :articles, @articles['Eigene'], include_id: false do |articles_form| %>
            <% article = articles_form.object %>
            <%= render 'new_article_fields', f: articles_form, article: article %>
          <% end %>

          <div class='links'>
            <%= link_to_add_association 'add article', f, :articles, partial: 'new_article_fields', class: "btn btn-default" %>
          </div>
        </div>
      </div>
      
      <% @rooms.each do |room| %>
        <div>
          <h4>
            <a data-toggle="collapse" data-parent="accordeon" href="#<%= underscore(room) %>"><span class="caret-right"></span> <%= room %></a>
          </h4>
          <div id="<%= underscore(room) %>" class="collapse article-content">
            <%= f.fields_for :articles, @articles[room], include_id: false do |articles_form| %>
              <% # article = @articles[room][articles_form.index] %>
              <% article = articles_form.object %>
              <%= render 'article_fields', f: articles_form, article: article %>
            <% end %>
          </div>
        </div>
      <% end %>
      <%= f.submit t("Create") %>
    </div>
  <% end %>
</div>

<script> 

 $(document).ready(function(){
   $(".secondary_article_inputs").hide()
   
   $("#own_article_0_title_field_disabled").keyup( function() {
     var thedivid = "#own_article_" + $(this).attr("data") + "_div";
     ( $(this).val().length == 0 )? $(thedivid).hide(200) : $(thedivid).show(200);
   });

   $(".article_cb").click( function() {
     var thedivid = "#article_" + $(this).attr("data") + "_div";
     console.log(thedivid);
     $(thedivid).toggle(0);
   });
 });
 
</script>
