<div class="col-xs-12 col-sm-3 col-sm-push-9">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4>Tipp</h4>
    </div>

    <div class="panel-body">
      Dies ist ein kurzer Hilfetext.
    </div>
  </div>
</div>

<div class="col-xs-12 col-sm-9 col-sm-pull-3">
  <h3><%= t('Create Articles') %></h3>

  <%= simple_form_tag(@stockitem_selection) do |f| %>
    <% f.error_notification %>

    <div class="form-inputs">
      <div class="row">
        <% i=0 %>
        <% @rooms.each do |room| %>
          <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
            <h4><%= room %></h4>

            <%= f.associations :stockitems, collection: @stockitems[room], as: :check_boxes, label: false %>
            
            <div class="form-group check_boxes optional stockitem_selection_stockitems">
              <% @stockitems[room].each do |stockitem| %>
                <span class="checkbox">
                  <label for="stockitem_selection_stockitem_ids_<%= stockitem.id %>">
                    <input class="check_boxes optional" type="checkbox" value="<%= stockitem.id %>" name="stockitem_selection[stockitem_ids][]" id="stockitem_selection_stockitem_ids_<%= stockitem.id %>"/>
                    <%= stockitem.title %>
                  </label>
                </span>
                
              <% end %>
            </div>
          </div>
          <% i += 1 %>
          <%= content_tag(:div, "", class: "clearfix visible-xs-block") if i%2 == 0 %>
          <%= content_tag(:div, "", class: "clearfix visible-sm-block") if i%3 == 0 %>
          <%= content_tag(:div, "", class: "clearfix visible-md-block") if i%4 == 0 %>
          <%= content_tag(:div, "", class: "clearfix visible-lg-block") if i%6 == 0 %>
          
        <% end %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.button :submit %>
    </div>
  <% end %>

</div>
