<%= render 'edit_common', context: :new_articles_templates %>

<div class="col-xs-12">
  <%= bootstrap_form_for(resource, as: resource_name, url: new_user_articles_templates_path, html: { method: :put }, layout: :inline) do |f| %>
    <%= devise_error_messages! %>

    <div style="display: table;">
      <div style="display: table-row;">
        <div style="display: table-cell;"><%= Article.human_attribute_name("create") %></div>
        <div style="display: table-cell;"><%= Article.human_attribute_name("title") %></div>
        <div style="display: table-cell;"><%= Article.human_attribute_name("details") %></div>
        <div style="display: table-cell;"><%= Article.human_attribute_name("quality") %></div>
        <div style="display: table-cell;"><%= Article.human_attribute_name("rate_eur") %></div>
        <div style="display: table-cell;"><%= Article.human_attribute_name("rate_interval") %></div>
        <div style="display: table-cell;"><%= Article.human_attribute_name("location") %></div>
        <div style="display: table-cell;"></div>
        <div style="display: table-cell;"></div>
      </div>
    </div>

    <%= content_tag :h3, 'Eigene' %>
    
    <%= f.fields_for :articles, @articles['new'], include_id: false do |articles_form| %>
      <% article = articles_form.object %>
      <div>
        <%= render 'article_fields', f: articles_form, article: article %>
      </div>
    <% end %>


    <div class='links'>
      <%= link_to_add_association 'add article', f, :articles, class: "btn btn-default" %>
    </div>

    <% @rooms.each do |room| %>
      <%= content_tag :h3, room %>
      <%= f.fields_for :articles, @articles[room], include_id: false do |articles_form| %>
        <% # article = @articles[room][articles_form.index] %>
        <% article = articles_form.object %>
        <div>
          <%= render 'article_fields', f: articles_form, article: article %>
        </div>
      <% end %>
    <% end %>
    <%= f.submit t("Create") %>
  <% end %>
</div>
