<%= render 'edit_common', context: :new_articles_templates %>

<%= bootstrap_form_for(resource, as: resource_name, url: new_user_articles_templates_path, html: { method: :put }, layout: :inline) do |f| %>
<%= devise_error_messages! %>
<table class="table">
  <thead>
    <tr>
      <th><%= Article.human_attribute_name("create") %></th>
      <th><%= Article.human_attribute_name("title") %></th>
      <th><%= Article.human_attribute_name("details") %></th>
      <th><%= Article.human_attribute_name("quality") %></th>
      <th><%= Article.human_attribute_name("rate_eur") %></th>
      <th><%= Article.human_attribute_name("rate_interval") %></th>
      <th><%= Article.human_attribute_name("location") %></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%= f.fields_for :articles, @articles, include_id: false do |articles_form| %>
      <% article = @articles[articles_form.index] %>
      <tr>
        <td>
          <% # wieviele artikel hat der nutzer schon mit diesem template erstellt  %>
          <% # anders gefragt: wieviele artikel des nutzers gibt es, deren template die gleiche idee hat, wie die id dieses templates %>
          <% ntemplates = current_user.articles.where("template_id = ?", article.template_id).count %>
          <%= articles_form.check_box :to_be_created, value: false, hide_label: true %>
          <%= "(#{ntemplates})" if ntemplates > 0 %>
        </td>
        <td><%= articles_form.text_field :title, hide_label: true %></td>
        <td><%= articles_form.text_field :details, hide_label: true %></td>
        <td><%= articles_form.number_field :quality, hide_label: true %></td>
        <td><%= articles_form.number_field :rate_eur, min: 0, step: 0.01, append: "€", hide_label: true %></td>
        <td><%= articles_form.text_field :rate_interval, hide_label: true %></td>
        <td><%= articles_form.collection_select :location_id, current_user.locations, :id, :shortaddress, hide_label: true %></td>
        <%= articles_form.hidden_field :id %>
        <%= articles_form.hidden_field :template_id %>
      </tr>
    <% end %>
  </tbody>
</table>
<%= f.submit t("Update") %>
<% end %>

