%p
  Dein Nachbar/Deine Nachbarin #{user_marker(@request.user)} würde gerne Deine(n) #{article_marker(@request.article)} ausleihen.

%p
  Er/Sie schreibt Dir folgende Nachricht:

%p
  %pre= @request.text

%p
  Antworte #{@request.user.nickname}, indem du die Antwort-Funktion deines Emailprogrammes benutzt!

%p Eins noch: Bevor Du etwas verleihst, solltest du unseren #{link_to t('titles.pages.guideline'), guideline_url} lesen!


= render 'user_mailer/signature'
