%p
  Your neighbour #{user_marker(@request.user)} likes to borrow your #{article_marker(@request.article)}.

%p
  He/She sends you the following messages:

%p
  %pre= @request.text

%p
  Reply to #{@request.user.nickname} by using the reply function of your email software!

%p Just one thing: Before lending something consider reading our #{link_to t('titles.pages.guideline'), guideline_url} to prevent yourself from taking unneccessary risks!


= render 'user_mailer/signature'
