:plain
  You received a message from #{@message.sender.nickname} via Shareship:

  #{@message.text}

  Reply to #{@message.sender.nickname} by using the reply function of your email software!

  Learn more about #{@message.sender.nickname} on
  #{user_url(@message.sender)}

  #{render 'user_mailer/signature'}
