%h3 Edit House

.row
  .col-xs-12
    = bootstrap_form_for @house, layout: :horizontal do |f|
      = f.alert_message "fix errors"
      = f.text_field :address
      = f.form_group do
        = f.submit

.row
  .col-xs-12
    #mapid{:style => "width: -1; height: 400px;"}

:javascript
  var onMapClick = function(e) {
    console.log("You clicked the map at " + e.latlng.lat + ", " + e.latlng.lng);
  };

  $(document).ready(function() {
    #{render 'articles/map_show.js.erb', houses: [@house], articles: Article.all, formats: [:js]}
  });
