<% @title = t('house') %>

<div class="col-xs-12 col-sm-3 col-sm-push-9">
  <%= tipp_panel title: "Hilfe" do %>
    Ein noch kleinerer Hilfe text.
  <% end %>
</div>

<div class="col-xs-12 col-sm-9 col-sm-pull-3">
  <h3><%= t('house') %></h3>

  <div class="row">
    <div class="col-xs-3 text-right">
      <strong><%= t("Street and no") %>:</strong>
    </div>
    <div class="col-xs-9">
      <%= @house.street_and_no %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-3 text-right">
      <strong><%= t("Postcode") %>:</strong>
    </div>
    <div class="col-xs-9">
      <%= @house.postcode %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-3 text-right">
      <strong><%= t("City") %>:</strong>
    </div>
    <div class="col-xs-9">
      <%= @house.city %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-3 text-right">
      <strong><%= t("Country") %>:</strong>
    </div>
    <div class="col-xs-9">
      <%= @house.country %>
    </div>
  </div>

  <h4><%= t('Users') %></h4>
  <% @house.locations.each do |location| %>
    <% location_div_id = "location_" + location.id.to_s + "_div" %>

    <div class="location" id="<%= location_div_id %>" data-location-id="<%= location.id %>">
      <div class="location_view">
        <%= render 'locations/location_view', location: location %>
      </div>        
    </div>
  <% end %>
</div>
