.row
  .col-xs-12
    .row
      .col-xs-12
        - if article.picture.present?
          = image_tag(article.picture_url, class: "img-responsive")
          %br/
    .row
      .col-xs-9
        = rate_marker(article)
        %br/
        = location_marker article.location
        - if @current_location
          %br/
          %b
            = t('articles.common.label_distance')
            \:
          = "%.1f km" % article.location.distance_from( @current_location )
      .col-xs-3.text-right
        - if defined?(home) && home
          %span.glyphicon.glyphicon-home{"data-toggle" => "tooltip", title: t('articles.common.tooltip_home')}
        - if article.gratis
          %span.glyphicon.glyphicon-heart{"data-toggle" => "tooltip", title: Article.human_attribute_name('gratis')}
        - if user_signed_in? && current_user.role == "admin"
          = render "articles/stockitem_form", stockitem: Stockitem.new.fill_from_article(article), hidden_fields: true
    .row
      - unless article.details == ""
        = article.details
        
    - if current_user and current_user.id == article.user.id
      - #link_to("", "", class: "glyphicon glyphicon-pencil article_cb", data: { article_id: article.id } )
      - #link_to("", article, method: :delete, data: { confirm: t("Are you sure?") }, class: "glyphicon glyphicon-remove", remote: true)
    - else
      .row
        .col-xs-12.col-lg-6
          .contact_info
            %h4= t('.heading_contact_info')
            = user_marker article.user
            %br/
            %b
              = Article.human_attribute_name('name')
              \:
            = article.user.fullname
            - if article.user.showemail
              - if current_user
                - subject = t("mail.article_request_username", user: current_user.nickname, article: article.title)
              - else
                - subject = t("mail.article_request_anonymous", article: article.title)
              %br/
              %b
                = Article.human_attribute_name('email')
                \:
              = mail_to article.user.email, article.user.email, subject: subject
            - if article.user.showphone
              %br/
              %b
                = Article.human_attribute_name('phoneno')
                \:
              = article.user.phoneno
        .col-xs-12.col-lg-6
          .shareshore-panel.clearfix
            - if user_signed_in?
              - request = UserArticleRequest.new({article: article})
              = bootstrap_form_for request, remote: true, format: :json do |f|
                = f.text_area :text, placeholder: t('.placeholder_request_text'), hide_label: true
                = f.hidden_field :article_id

                = f.form_group do
                  = f.submit t('.button_label_send_request')
            - else
              .col-xs-6
                = t('.text_only_signed_up_users')
              .col-xs-6.text-right
                = link_to t('titles.users.sessions.new'), new_user_session_path, class: "btn btn-default"
