<div class="row">
  <% article_show_id = "article_" + article.id.to_s + "_show" %>

  <div class="col-sm-3">
    <a href="#<%= article_show_id%>" data-toggle="modal">
      <%= article.title %>
    </a>
    <br>
    <% if article.picture.present? %>
      <a href="#<%= article_show_id%>" data-toggle="modal">
        <%= image_tag(article.picture_url(:thumb)) %>
      </a>
    <% end %>
  </div>

  <div id="<%= article_show_id %>" class="modal fade">
    <%= render 'show_modal', article: article %>
  </div>
  
  <div class="col-sm-5">
    <% if article.gratis %>
      <b>Gratis</b> <span class="glyphicon glyphicon-ok"></span>
    <% else %>
      <b><%= t('rate') %>:</b> <%= article.rate %>
    <% end %>
    <br>
    <b><%= t('location') %>:</b> <%= article.location.shortaddress %>
    <br>
    <b><%= t('details') %>:</b> <%= truncate(article.details, length: 60) %>
  </div>

  <div class="col-sm-4 text-right">
    <% if edit && current_user && current_user.id == article.user.id %>
      <%= link_to("", "", class: "glyphicon glyphicon-pencil article_cb edit-remove ", data: { article_id: article.id } ) %>
      <%= link_to("", article, method: :delete, data: { confirm: t("Are you sure?") }, class: "glyphicon glyphicon-remove edit-remove", remote: true) %>
    <% else %>
      <b><%= t('user') %>:</b> <%= link_to article.user.nickname, user_path(article.user) %>
    <% end %>
    <br>

    <% if @current_location %>
      <b><%= t('distance') %>:</b> <%= "%.1f km" % article.location.distance_from( @current_location ) %>
    <% end %>
  </div>
</div>
