-# 3 Layouts: with edit icons, with current_location, without any if this
-#
-# Items to show
-# without (view s.o.'s location): article_marker, rate_marker, details
-# current_location (search results): article_marker, rate_marker, details
-# edit (own articles): article_marker, rate_marker, details, location_marker, edit_icons
  
-# locals
-# home ||= false
- modal ||= false
- edit ||= false

- article_show_id = "article_" + article.id.to_s + "_show"
- if edit
  .row
    .col-xs-3
      = article_marker article
    .col-xs-4
      = rate_marker(article)
    .col-xs-5
      = location_marker article.location
      .pull-right
        = edit_icons(article)
  .row
    .col-xs-3
    .col-xs-9
      .article-description
        = truncate(article.details, length: 100)

- else
  .row
    .col-xs-6
      = article_marker article
    .col-xs-6
      = rate_marker(article)
    -#.col-sm-4.col-lg-1
    -#- if article.picture.present?
      .col-sm-3
        %a{"data-toggle" => "modal", :href => "##{article_show_id}"}
          = image_tag(article.picture_url(:thumb))
        
  .row
    .col-xs-12
      .article-description
        = truncate(article.details, length: 100)
