-# locals
- home ||= false
.row
  .col-xs-12
    .row
      .col-xs-12
        - if article.picture.present?
          = image_tag(article.picture_url, class: "img-responsive")
    .row
      .col-xs-9
        = rate_marker(article)
        %br/
        = location_marker article.location
        - if @current_location
          %br/
          %b
            = t('articles.common.label_distance')
            \:
          = "%.1f km" % article.location.distance_from( @current_location )
        %br/
        = user_marker(article.user)
      .col-xs-3.text-right
        - if home
          = home_icon
        -# if article.gratis
          = gratis_icon
        - if user_signed_in? && current_user.role == "admin"
          = render "articles/stockitem_form", stockitem: Stockitem.new.fill_from_article(article), hidden_fields: true
    .row
      .col-xs-12
        - unless article.details == ""
          = article.details
        
    - unless ( current_user && current_user.id == article.user.id )
      .row
        - unless @with_contact
          .col-xs-12
            .shareshore-panel
              %h4= t('.heading_contact_info')
              = bootstrap_form_tag url: article_path(article), method: :get do |f|
                = f.form_group do
                  = recaptcha_tags
                = f.form_group do
                  = f.submit t('.view_contact_details_button'), class: "btn btn-default"
        - else
          .col-xs-12.col-lg-6
            = render 'users/registrations/contact', user: article.user, showemail: article.user.showemail, showphone: article.user.showphone, showname: article.user.showname, article: article

          .col-xs-12.col-lg-6
            .shareshore-panel
              %h4= t('.heading_request')
              .clearfix.request-panel
                - if user_signed_in?
                  .send-request
                    - request = UserArticleRequest.new({article: article, with_phoneno: !current_user.phoneno.blank?, with_email: !current_user.email.blank?})
                    = bootstrap_form_for request, remote: true, format: :json do |f|
                      = f.text_area :text, placeholder: t('.placeholder_request_text'), hide_label: true
                      = f.hidden_field :article_id
                      = f.form_group do
                        -# unless current_user.fullname.blank?
                          = f.check_box :with_name, label: "#{UserArticleRequest.human_attribute_name(:with_name)} (#{current_user.fullname})"
                        - unless current_user.phoneno.blank?
                          = f.check_box :with_phoneno, label: "#{UserArticleRequest.human_attribute_name(:with_phoneno)} (#{current_user.phoneno})"
                        - else
                          = f.hidden_field :with_phoneno
                        - unless current_user.email.blank?
                          = f.check_box :with_email, label: "#{UserArticleRequest.human_attribute_name(:with_email)} (#{current_user.email})"
                        - else
                          = f.hidden_field :with_email
                      = f.form_group do
                        = f.submit t('.button_label_send_request')
                  .request-was-send{style: "display: none"}
                    = t('.request_was_send')
                    %div
                      %strong
                        = t('.text_read_the_guideline')
                        #{link_to t('titles.pages.guideline'), '/pages/guideline'}.
                  .waiting{style: "display: none"}
                    = t('.waiting')
                  .error-msg{style: "display: none"}
                - else
                  .col-xs-6
                    = t('.text_only_signed_up_users')
                  .col-xs-6.text-right
                    = link_to t('titles.users.sessions.new'), new_user_session_path, class: "btn btn-default"
