-# locals
- home ||= false
- modal ||= false
- edit ||= false
.row
  - article_show_id = "article_" + article.id.to_s + "_show"
  .col-sm-3
    - if !modal
      = article_marker article
    - else
      = article_marker_modal article
    %br/
    - if defined?(home) && home
      %span.glyphicon.glyphicon-home{"data-toggle": "tooltip", title: t('articles.common.tooltip_home') }
    - if article.gratis
      %span.glyphicon.glyphicon-heart{"data-toggle": "tooltip", title: Article.human_attribute_name('gratis')}
    - if article.picture.present?
      %br/
      %a{"data-toggle" => "modal", :href => "##{article_show_id}"}
        = image_tag(article.picture_url(:thumb))
  - if modal
    .modal.fade{:id => article_show_id}
      = render 'articles/show_modal', article: article, home: home
  .col-sm-5
    = rate_marker(article)
    %br/
    = location_marker article.location
  .col-sm-4.text-right
    - if edit && ((current_user && current_user.id == article.user.id) || is_admin? )
      = link_to("", "", class: "glyphicon glyphicon-pencil article_cb edit-remove ", data: { article_id: article.id }, data_toggle: "tooltip", title: t('.tooltip_edit_button') )
      = link_to("", article, method: :delete, data: { confirm: t(".delete_confirmation_question") }, class: "glyphicon glyphicon-remove edit-remove", remote: true, data_toggle: "tooltip", title: t('.tooltip_remove_button'))
    - else
      = user_marker article.user
    %br/
    - if @current_location
      - if defined?(home) && home
        %strong= t('articles.common.tooltip_home')
      - else
        %strong
          = succeed ":" do
            = t('articles.common.label_distance')
        = "%.1f km" % article.location.distance_from( @current_location )
.row
  .col-xs-12
    = truncate(article.details, length: 60)
