-# 3 Layouts: with edit icons, with current_location, without any if this
-#
-# Items to show
-# without (view s.o.'s location): article_marker, rate_marker, details
-# current_location (search results): article_marker, rate_marker, details
-# edit (own articles): article_marker, rate_marker, details, location_marker, edit_icons

-# locals
- edit ||= false

- article_show_id = "article_" + article.id.to_s + "_show"

- item_div_id = "article_" + article.id.to_s + "_div"
%div{:class => "article", "data-article-id" => "#{article.id.to_s}", "data-house-id" => "#{article.location.house_id}", :id => item_div_id}
  .article_view
    - if edit
      .row
        .col-xs-12
          = article.title
          .pull-right
            = edit_icons(article)
        .col-xs-12
          = rate_marker(article)
      .row
        .col-xs-12
          .article-description
            = truncate(article.details, length: 100)

    - else
      .row
        .col-xs-6
          = article_marker article
        .col-xs-6
          = rate_marker(article)

      .row
        .col-xs-12
          .article-description
            = truncate(article.details, length: 100)

  - if user_signed_in? && (current_user.id == article.user.id || is_admin? )
    .row.article_edit.to_hide
      .col-xs-12
        = render 'articles/form', article: article
