-# locals
- edit ||= false

- article_show_id = "article-" + article.id.to_s + "-show"

- item_div_id = "article-" + article.id.to_s + "-div"
%div{:class => "article", "data-article-id" => "#{article.id.to_s}", "data-house-id" => "#{article.location.house_id}", :id => item_div_id}
  .article_view
    - if edit
      .row
        .col-xs-12
          = article.title
          .pull-right
            = edit_icons(article)
        .col-xs-12
          = rate_marker(article)
      - if user_signed_in? && (current_user.id == article.user.id )
        - if not article.lent_description.empty?
          .row
            .col-xs-12
              .article-lent
                = Article.human_attribute_name('lent_description') + ": " + article.lent_description
      .row
        .col-xs-12
          .article-description
            = truncate(article.details, length: 100)

    - else
      .row
        .col-xs-6
          = article_marker article
        .col-xs-6
          = rate_marker(article)

      .row
        .col-xs-12
          .article-description
            = truncate(article.details, length: 100)

  - if user_signed_in? && (current_user.id == article.user.id )
    .row.article-edit.to-hide
      .col-xs-12
        = render 'articles/form', article: article
