= bootstrap_form_for stockitem, url: new_stockitem_path do |f|
  = f.alert_message 'fix errors'
  = f.hidden_field :title_de
  = f.hidden_field :title_en
  = f.hidden_field :details_hint_de
  = f.hidden_field :details_hint_en
  = f.submit class: "btn btn-danger"
