<script type="text/javascript" src="http://openlayers.org/api/OpenLayers.js"></script>  

<link rel="stylesheet" href="https://openlayers.org/en/v3.19.1/css/ol.css" type="text/css">
<script src="https://openlayers.org/en/v3.19.1/build/ol.js" type="text/javascript"></script>

<%= render 'layouts/search', form_path: articles_path %>

<% @title = t('Articles nearby') %>

<div class="row">
  <div class="col-xs-12">
    <ul class="nav nav-tabs">
      <%= content_tag(:li, link_to(t('Articles nearby'), articles_path, class: "tab"),
                      class: ['active'] )%>
      <%= content_tag(:li, link_to(t('Users nearby'), locations_path, class: "tab"),
                      class: [] )%>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-md-4">
    <div id="mapid" style="width: -1; height: 400px;"></div>
  </div>

  <div class="col-xs-12 col-md-8">

    <% @articles.each do |article| %>
      <% article_div_id = "article_" + article.id.to_s + "_div" %>

      <div class="article" id="<%= article_div_id %>" >
        <div class="article_view">
          <%= render 'article_view', article: article, edit: false %>
        </div>        
      </div>
    <% end %>

    <% will_paginate @articles, renderer: BootstrapPagination::Rails %>
  </div>
</div>

<script type="text/javascript">
 var center_coords, marker_coords, bound_n, bound_s, bound_e, bound_w;
 center_coords = [ <%= @current_location.longitude %>, <%= @current_location.latitude %> ];
 bound_n = <%= "[ #{@bound_n[0]}, #{@bound_n[1]} ]" %>;
 bound_s = <%= "[ #{@bound_s[0]}, #{@bound_s[1]} ]" %>;
 bound_e = <%= "[ #{@bound_e[0]}, #{@bound_e[1]} ]" %>;
 bound_w = <%= "[ #{@bound_w[0]}, #{@bound_w[1]} ]" %>;
 marker_coords = [
 <% @locations.each do |location| %>
   <%= "[ #{location.longitude}, #{location.latitude}]," %>
 <% end %>        
   ];

 drawmap2(center_coords, marker_coords, bound_n, bound_s, bound_e, bound_w);
 
</script>
