- @title = t('titles.articles.index')

%h3= @title

.row
  .col-xs-12.col-sm-3
    = tipp_panel do
      = render 'index_help'

  .col-xs-12.col-sm-9
    #article-null-div.article
      .row
        .col-xs-10
          = link_to(t(".create_new_article"), "", class: "mp-toggle-visibility", data: {toggle_target: "#article-new"} )
        .col-xs-2.text-right
          = link_to("", "", class: "glyphicon glyphicon-plus mp-toggle-visibility", data: {toggle_target: "#article-new", toggle: "tooltip"}, title: t('.tooltip_add_button') )
      #article-new.row{class: @articles.count > 0 && 'to-hide' }
        .col-xs-12
          = render 'form', article: Article.new, url: create_from_index_articles_path
    .article_placeholder

    %div{:class => "empty-list#{" to-hide" unless @articles.empty?}"}
      = t('.empty_list_message')
    - @articles.each do |article|
      = render 'article_view', article: article, edit: true

:javascript
  $(document).ready(function(){
  })
