- @title = t('titles.articles.index')

- if is_admin?
  - @title += ' of ' + @user.nickname

.col-xs-12.col-sm-3.col-sm-push-9
  = tipp_panel do
    = render 'index_help'
    
.col-xs-12.col-sm-9.col-sm-pull-3
  %h3= @title
  %div{:class => "empty-list#{" to_hide" unless @articles.empty?}"}
    = t('.empty_list_message')
  - @articles.each do |article|
    = render 'article_owner', article: article
  .article_placeholder
  #article_null_div.article
    .row
      .col-xs-12.text-right
        = link_to("", "", class: "glyphicon glyphicon-plus mp-toggle-visibility", data: {toggle_target: "#article_new", toggle: "tooltip"}, title: t('.tooltip_add_button') )
    #article_new.row
      .col-xs-12
        = render 'form', article: Article.new, url: create_from_index_articles_path

:javascript
  $(document).on('turbolinks:load', function(){
  })
