<script type="text/javascript" src="http://openlayers.org/api/OpenLayers.js"></script>  

<% if not @user and not @location %>
  <%= render 'layouts/search', form_path: articles_path %>
<% end %>

<% if @user %>
  <%= content_tag :h2, t("Articles for") + " " + @user.nickname %>
<% elsif @location %>
  <%= content_tag :h2, t("Articles at", location: @location.shortaddress) + " " + t("for") + " " + @location.user.nickname %>
<% else %>
  <div class="row">
    <div class="col-xs-12">
      <ul class="nav nav-tabs">
        <%= content_tag(:li, link_to(t('Articles nearby'), articles_path, class: "tab"),
                        class: ['active'] )%>
        <%= content_tag(:li, link_to(t('Users nearby'), locations_path, class: "tab"),
                        class: [] )%>
      </ul>
    </div>
  </div>
<% end %>

<div class="row">
  <% if @current_location %>
    <div class="col-xs-12 col-md-4">
      <div id="mapid" style="width: -1; height: 400px;"></div>
    </div>
  <% end %>

  <div class="col-xs-12 col-md-8">

    <% @articles.each do |article| %>
      <% article_div_id = "article_" + article.id.to_s + "_div" %>

      <div class="article" id="<%= article_div_id %>" >
        <div class="article_view">
          <%= render 'article_view', article: article %>
        </div>        
      </div>
    <% end %>

    <% will_paginate @articles, renderer: BootstrapPagination::Rails %>
  </div>
</div>

<% if @current_location %>
  <script type="text/javascript">
   var map = new OpenLayers.Map("mapid");

   var wms = new OpenLayers.Layer.WMS(

     "OpenLayers WMS",

     "http://labs.metacarta.com/wms/vmap0",
     
     {layers: 'basic'}
     
   );

   var fromProjection = new OpenLayers.Projection("EPSG:4326");   // Transform from WGS 1984
   var toProjection   = new OpenLayers.Projection("EPSG:900913"); // to Spherical Mercator Projection
   var zoom;
   var position;
   var center_position;

   map.addLayer(new OpenLayers.Layer.OSM());
   
   var bounds = new OpenLayers.Bounds();

   bounds.extend(new OpenLayers.LonLat( <%= @bound_n[1] %>, <%= @bound_n[0] %>).transform( fromProjection, toProjection));
   bounds.extend(new OpenLayers.LonLat( <%= @bound_s[1] %>, <%= @bound_s[0] %>).transform( fromProjection, toProjection));
   bounds.extend(new OpenLayers.LonLat( <%= @bound_e[1] %>, <%= @bound_e[0] %>).transform( fromProjection, toProjection));
   bounds.extend(new OpenLayers.LonLat( <%= @bound_w[1] %>, <%= @bound_w[0] %>).transform( fromProjection, toProjection));

   center_position = new OpenLayers.LonLat( <%= @current_location.longitude %>, <%= @current_location.latitude %>).transform( fromProjection, toProjection);
   /* bounds.extend(center_position);*/


   var markers = new OpenLayers.Layer.Markers( "Markers" );
   map.addLayer(markers);
   markers.addMarker(new OpenLayers.Marker(center_position));
   var iconsize = new OpenLayers.Size(21,25);
   var icon = new OpenLayers.Icon('http://www.openlayers.org/api/img/marker-blue.png', iconsize);

   <% @articles.each do |article| %>
   position = new OpenLayers.LonLat( <%= article.location.longitude %>, <%= article.location.latitude %>).transform( fromProjection, toProjection);
   markers.addMarker(new OpenLayers.Marker(position, icon.clone()));
   /* bounds.extend(position);*/
   <% end %>        

   zoom = map.getZoomForExtent(bounds);
   console.log("zoom: " + zoom);
   map.setCenter(center_position, zoom );
  </script>
<% end %>

<script> 
 $(document).ready(function(){
   $(".article_edit_div").hide();

   $("body").on("click", ".article_cb", function(e) {
     e.preventDefault();
     var thedivid = "#article_" + $(this).attr("data-article-id") + "_div .article_edit_div";
     // console.log(thedivid);
     $(thedivid).toggle(200);
   });

   $('body').on('click', '.article_gratis_cb', function() {
     var thedivid = "#article_" + $(this).attr("data-article-id") + "_div .article_rate_div";
     console.log(thedivid);
     $(thedivid).toggle(200);
   });

   $('.article_rate_div_gratis').hide()
 })

</script>
