<%= render 'layouts/search', form_path: articles_path %>

<% @title = t('Articles nearby') %>

<div class="row">
  <div class="col-xs-12">
    <ul class="nav nav-tabs">
      <%= content_tag(:li, link_to(t('Articles nearby'), articles_path, class: "tab"),
                      class: ['active'] )%>
      <%= content_tag(:li, link_to(t('Users nearby'), locations_path, class: "tab"),
                      class: [] )%>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-md-4">
    <div id="mapid" style="width: -1; height: 400px;"></div>
  </div>

  <div class="col-xs-12 col-md-8">

    <% @articles.each do |article| %>
      <% article_div_id = "article_" + article.id.to_s + "_div" %>

      <div class="article" id="<%= article_div_id %>" data-article-id="<%= article.id.to_s %>" data-location-id="<%= article.location_id %>">
        <div class="article_view">
          <%= render 'article_view', article: article, edit: false %>
        </div>        
      </div>
    <% end %>

    <% will_paginate @articles, renderer: BootstrapPagination::Rails %>
  </div>
</div>

<script type="text/javascript">
 onMapClick = function(e) {
   console.log("You clicked the marker " + e.target.index);
 };
 
 $(document).ready(function() {
   // prepare the marker data
   var center_coords, marker_defs, bound_n, bound_s, bound_e, bound_w;
   center_coords = [ <%= @current_location.latitude %>, <%= @current_location.longitude %> ];
   bound_n = <%= "[ #{@bound_n[0]}, #{@bound_n[1]} ]" %>;
   bound_s = <%= "[ #{@bound_s[0]}, #{@bound_s[1]} ]" %>;
   bound_e = <%= "[ #{@bound_e[0]}, #{@bound_e[1]} ]" %>;
   bound_w = <%= "[ #{@bound_w[0]}, #{@bound_w[1]} ]" %>;
   marker_defs = [
     <% @locations.each do |location| %>
     <% html_text = escape_javascript(render 'popup', location: location, articles: @articles) %>
     <%= "{ coords: [#{location.latitude}, #{location.longitude} ], ".html_safe %>
     <%= " html: '#{html_text}', ".html_safe %>
     <%= " id: #{location.id} },".html_safe %>
     <% end %>        
   ];
   var center_popup_txt = "<%= t('Your location') %>";
   // draw the map
   var map, markers;
   [map, markers] = drawmap_leaflet("mapid", center_coords, marker_defs, bound_n, bound_s, bound_e, bound_w, center_popup_txt);
   
   // article hover event handler
   var onArticleMouseEnter = function(e) {
     // search the marker with the correct location index
     for (i = 0; i< markers.length; i++) {
       //if ( markers[i].index == $(this).attr("data-location-id") ) {
       var location_id = $(this).parentsUntil(".article").parent().attr("data-location-id")
       if ( markers[i].index == location_id ) {       
         markers[i].openPopup();
         break;
       }
     }
   }

   // article hover event handler
   var onArticleMouseLeave = function(e) {
     // search the marker with the correct location index
     for (i = 0; i< markers.length; i++) {
       var location_id = $(this).parentsUntil(".article").parent().attr("data-location-id")
       if ( markers[i].index == location_id ) {
         markers[i].closePopup();
         break;
       }
     }
   }
   
   // bind the event handler
   $(".location_marker").on('mouseenter', onArticleMouseEnter);
   $(".location_marker").on('mouseleave', onArticleMouseLeave);

 });


</script>
