<script type="text/javascript" src="http://openlayers.org/api/OpenLayers.js"></script>  

<% if not @user and not @location %>
  <%= render 'layouts/search', form_path: articles_path %>
<% end %>

<% if @user %>
  <%= content_tag :h2, t("Articles for") + " " + @user.nickname %>
<% elsif @location %>
  <%= content_tag :h2, t("Articles at", location: @location.shortaddress) + " " + t("for") + " " + @location.user.nickname %>
<% else %>
  <div class="row">
    <div class="col-xs-12">
      <ul class="nav nav-tabs">
        <%= content_tag(:li, link_to(t('Articles nearby'), articles_path, class: "tab"),
                        class: ['active'] )%>
        <%= content_tag(:li, link_to(t('Users nearby'), locations_path, class: "tab"),
                        class: [] )%>
      </ul>
    </div>
  </div>
<% end %>

<div class="row">
  <% if @current_location %>
    <div class="col-xs-12 col-md-4">
      <div id="mapid" style="width: -1; height: 400px;"></div>
    </div>
  <% end %>

  <div class="col-xs-12 col-md-8">
  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= Article.human_attribute_name("title") %></th>
        <th><%= Article.human_attribute_name("rate") %></th>
        <th><%= Article.human_attribute_name("location") %></th>
        <% if @current_location %>
          <th><%= t("Distance") %></th>
        <% end %>
        <th><%= Article.human_attribute_name("user") %></th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @articles.each do |article| %>
        <% if article.rate_ct == 0 %>
          <tr class="success">
        <% else %>
            <tr>
        <% end %>
        <td><%= link_to article.title, article %></td>
        <% if article.rate_ct == 0 %>
          <td><strong><%= t("Gratis")%></strong></td>
        <% else %>
          <td><%= article.rate_ct %> € <%= t('per') %> <%= t(article.rate_interval) %></td>
        <% end %>
        <td><%= article.location.shortaddress %></td>
        <% if @current_location %>
          <td><%= "%.1f km" % article.location.distance_from( @current_location ) %></td>
        <% end %>
        <td><%= link_to article.user.nickname, user_path(article.user) %></td>
        <td><%= image_tag(article.picture_url(:thumb)) if article.picture.present? %></td>
        <td><%= link_to t("Show"), article, class: "btn btn-default" %></td>
        <td><%= link_to(t("Edit"), edit_article_path(article), class: "btn btn-default") if current_user and current_user.id == article.user.id %></td>
        <td><%= link_to(t("Delete"), article, method: :delete, data: { confirm: t("Are you sure?") }, class: "btn btn-default" ) if current_user and current_user.id == article.user.id %></td>
            </tr>
      <% end %>
    </tbody>
  </table>

  <%= will_paginate @articles, renderer: BootstrapPagination::Rails %>
</div>


<% if @current_location %>
    <script type="text/javascript">
     var map = new OpenLayers.Map("mapid");

     var wms = new OpenLayers.Layer.WMS(

         "OpenLayers WMS",

         "http://labs.metacarta.com/wms/vmap0",
         
         {layers: 'basic'}
         
     );

     var fromProjection = new OpenLayers.Projection("EPSG:4326");   // Transform from WGS 1984
     var toProjection   = new OpenLayers.Projection("EPSG:900913"); // to Spherical Mercator Projection
     var zoom;
     var position;
     var center_position;

     map.addLayer(new OpenLayers.Layer.OSM());
     
     var bounds = new OpenLayers.Bounds();

     bounds.extend(new OpenLayers.LonLat( <%= @bound_n[1] %>, <%= @bound_n[0] %>).transform( fromProjection, toProjection));
     bounds.extend(new OpenLayers.LonLat( <%= @bound_s[1] %>, <%= @bound_s[0] %>).transform( fromProjection, toProjection));
     bounds.extend(new OpenLayers.LonLat( <%= @bound_e[1] %>, <%= @bound_e[0] %>).transform( fromProjection, toProjection));
     bounds.extend(new OpenLayers.LonLat( <%= @bound_w[1] %>, <%= @bound_w[0] %>).transform( fromProjection, toProjection));

     center_position = new OpenLayers.LonLat( <%= @current_location.longitude %>, <%= @current_location.latitude %>).transform( fromProjection, toProjection);
     /* bounds.extend(center_position);*/


     var markers = new OpenLayers.Layer.Markers( "Markers" );
     map.addLayer(markers);
     markers.addMarker(new OpenLayers.Marker(center_position));
     var iconsize = new OpenLayers.Size(21,25);
     var icon = new OpenLayers.Icon('http://www.openlayers.org/api/img/marker-blue.png', iconsize);

     <% @articles.each do |article| %>
     position = new OpenLayers.LonLat( <%= article.location.longitude %>, <%= article.location.latitude %>).transform( fromProjection, toProjection);
     markers.addMarker(new OpenLayers.Marker(position, icon.clone()));
     /* bounds.extend(position);*/
     <% end %>        

     zoom = map.getZoomForExtent(bounds);
     console.log("zoom: " + zoom);
     map.setCenter(center_position, zoom );
    </script>
<% end %>
