- @title = t('titles.articles.index')

= render 'searches/search_form'

- if @house_center
  .house
    .row
      .col-xs-12
        #{t('.text_at_house')} #{house_marker(@house_center)}:
        - has_a_location_here = false
        - @house_center.locations.each do |location|
          - if location.user == current_user
            - has_a_location_here = true
          - else
            = user_marker(location.user)
            (#{link_to articles_count(location.articles), articles_location_path(location)})
        - if has_a_location_here
          = t('.and_you')
          %span.glyphicon.glyphicon-heart
          !
.row
  .col-xs-12
    %ul.nav.nav-tabs
      %li.active
        = link_to(t('titles.articles.index'), articles_path, class: "tab")
      %li
        = link_to(t('titles.locations.index'), locations_path, class: "tab")

.row
  .col-xs-12.col-md-4
    #mapid{:style => "width: -1; height: 400px;"}
  .col-xs-12.col-md-8
    - if current_user
      .shareshore-panel
        = t('.warning_about_own_articles')
    - if @articles.empty?
      .empty-list
        = t('.empty_list_message')
    - @articles.each do |article|
      - article_div_id = "article_" + article.id.to_s + "_div"
      - home = article.location.house == @house_center
      %div{:class => "article#{" article_house" if home}", "data-article-id" => "#{article.id.to_s}", "data-house-id" => "#{article.location.house_id}", :id => article_div_id}
        .article_view
          = render 'article_view', article: article, edit: false, home: home
    - will_paginate @articles, renderer: BootstrapPagination::Rails

:javascript
  onMapClick = function(e) {
    console.log("You clicked the marker " + e.target.index);
  };
  
  $(document).ready(function() {
    #{render 'articles/map_index.js.erb', articles: @articles, formats: [:js]}
    
    // article hover event handler
    var onArticleMouseEnter = function(e) {
      // search the marker with the correct house index
      for (i = 0; i< markers.length; i++) {
        //if ( markers[i].index == $(this).attr("data-house-id") ) {
        var house_id = $(this).parentsUntil(".article").parent().attr("data-house-id")
        if ( markers[i].index == house_id ) {       
          markers[i].openPopup();
          break;
        }
      }
    }

    // article hover event handler
    var onArticleMouseLeave = function(e) {
      // search the marker with the correct house index
      for (i = 0; i< markers.length; i++) {
        var house_id = $(this).parentsUntil(".article").parent().attr("data-house-id")
        if ( markers[i].index == house_id ) {
          markers[i].closePopup();
          break;
        }
      }
    }
    
    // bind the event handler
    $(".location_marker").on('mouseenter', onArticleMouseEnter);
    $(".location_marker").on('mouseleave', onArticleMouseLeave);

  });
