- @title = t('titles.articles.new_from_stockitems')

.col-xs-12.col-sm-9
  %h3= @title
  #article_null_div.article
    .row
      .col-xs-8
        = link_to t(".link_create_without_template"), "#", class: "mp-toggle-visibility", data: {toggle_target: "#article_new"}
      .col-xs-4.text-right
        #all_article_count
          - narticles = current_user.articles.count
          = t('.text_you_already_have')
          = content_tag :span, "#{narticles}"
          = "#{Article.model_name.human(count: narticles)}!"

    #article_new.row.article_edit
      .col-xs-12
        = render 'form', article: Article.new, url: create_from_stockitems_articles_path
        
  %div
    - @rooms.each do |room|
      %div
        %h4
          = room
        %div{:id => "#{underscore(room)}"}
          - @articles[room].each do |article|
            - article_div_id = "article_" + article.stockitem_id.to_s + "_div"
            .article{:id => article_div_id}
              .row
                .col-xs-6
                  -#%a.item_edit_button{"data-item-id" => "#{article.stockitem_id.to_s}", :href => "#"}
                  %a.mp-toggle-visibility{"data-toggle-target" => "#article_#{article.stockitem_id.to_s}_div .article_edit", :href => "#"}
                    = article.title
                        
                .col-xs-6.text-right
                  - # wieviele artikel hat der nutzer schon mit diesem stockitem erstellt
                  - # anders gefragt: wieviele artikel des nutzers gibt es, deren stockitem die gleiche idee hat, wie die id dieses stockitems
                  - nstockitems = current_user.articles.where("stockitem_id = ?", article.stockitem_id).count
                  .article_count{:data => nstockitems}
                    = t('.text_you_already_have')
                    = content_tag :span, "#{nstockitems}"
                    = t('.text_of_this')
                  - if current_user.role == "admin"
                    - narticles = Article.where("stockitem_id = ?", article.stockitem_id).count
                    .admin-buttons
                      = link_to "", edit_stockitem_path(article.stockitem), class: "glyphicon glyphicon-pencil btn btn-danger btn-xs"
                      = link_to "", article.stockitem, method: :delete, data: {confirm: "delete " + article.stockitem.title + "? " + narticles.to_s + " References."} , class: "glyphicon glyphicon-remove btn btn-danger btn-xs"

              .row.article_edit
                .col-xs-12
                  = render 'form', article: article, url: create_from_stockitems_articles_path

.col-xs-12.col-sm-3
  = tipp_panel do
    = render 'new_from_stockitems_help'
                  
:javascript
  $(document).ready(function(){
  });
