<div class="col-xs-12 col-sm-3 col-sm-push-9">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4>Tipp</h4>
    </div>

    <div class="panel-body">
      Dies ist ein kurzer Hilfetext.
    </div>
  </div>
</div>

<div class="col-xs-12 col-sm-9 col-sm-pull-3">
  <h3><%= t('Create Articles') %></h3>

  <div id="article_null_div" class="article">
    <%= link_to t("create without template"), "", id: "article_new_button" %>
    
    <div class="row article_edit" id="article_new">
      <div class="col-xs-12">
        <%= render 'form', article: Article.new %>
      </div>
    </div>
  </div>

  <div>      
    <% @rooms.each do |room| %>
      <div>
        <h4>
          <%= room %>
        </h4>
        <div id="<%= underscore(room) %>">
          <% @articles[room].each do |article| %>

            <% article_div_id = "article_" + article.stockitem_id.to_s + "_div" %>

            <div class="article" id="<%= article_div_id %>" >
              
              <div class="row">
                <div class="col-xs-6">
                  <a href="#" class="article_cb" data-article-id="<%= article.stockitem_id.to_s %>">
                    <%= article.title %>
                  </a>
                </div>
                
                <div class="col-xs-6 text-right">
                  <% # wieviele artikel hat der nutzer schon mit diesem stockitem erstellt  %>
                  <% # anders gefragt: wieviele artikel des nutzers gibt es, deren stockitem die gleiche idee hat, wie die id dieses stockitems %>
                  <% nstockitems = current_user.articles.where("stockitem_id = ?", article.stockitem_id).count %>
                  <div class="article_count" data="<%= nstockitems %>">
                    <%= content_tag :span, "#{nstockitems}" %> <%= t('in your') %> <%= link_to t('inventory'), user_articles_path %>
                  </div>
                </div>
              </div>

              <div class="row article_edit">
                <div class="col-xs-12">
                  <%= render 'form', article: article %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= render 'layouts/modal_error' %>

<script> 
 
 $(document).ready(function(){
   $(".article_edit").hide();
   
   $(".article_cb").click( function(e) {
     e.preventDefault();
     var thedivid = "#article_" + $(this).attr("data-article-id") + "_div .article_edit";
     console.log(thedivid);
     $(thedivid).toggle(200);
   });
   
   $('body').on('click', '.article_gratis_cb', function() {
     var thedivid = "#article_" + $(this).attr("data-article-id") + "_div .article_rate";
     console.log(thedivid);
     $(thedivid).toggle(200);
   });
   
   $(".article_count[data=0]").hide();

   $("#article_new").hide();

   $("body").on("click", "#article_new_button", function(e) {
     e.preventDefault();
     var thedivid = "#article_null_div .article_edit";
     console.log(thedivid);
     $(thedivid).toggle(200);
   });

   $('body').on("ajax:success", function(e, data, status, xhr) {
     console.log("Success");
   });

   $('body').on("ajax:error", function(e, xhr, status, error) {
     console.log("Error");
     $("#modal-error").modal("show");
   });

 });

 var onCreateSuccess = function(article_id, stockitem_id, newText, formText, nstockitems){
   console.log("within on create")
   // hide the edit div
   var edit_div_id = "#article_" + stockitem_id + "_div .article_edit"
   $(edit_div_id).hide(200);

   // reset the form 
   if ( stockitem_id == "null" ) {
     $("#article_new div form").trigger("reset");
       
     // unhide the rate field of the new form (just in case)
     var thedivid = "#article_null_div .article_rate";
     console.log(thedivid);
     $(thedivid).show(200);
     
     // replace the form content (so no need to reset the form, right?)
     $("#article_null_div" + "#new_article").replaceWith(formText)
       
   }
   else {
     // replace the form content (so no need to reset the form, right?)
     $("#article_" + stockitem_id + "_div #new_article").replaceWith(formText)

     // if it was the from the template free form
     // show the counter
     var count_div_id = "#article_" + stockitem_id + "_div .article_count";
     $(count_div_id).show(200);
     
     // edit counter value
     var count_span_id = count_div_id + " span"
     console.log(count_span_id)
     $(count_span_id).text(nstockitems);
   }
 };

 var onCreateError = function(article_id, stockitem_id, newText, formText, nstockitems){
   console.log("within onCreateError")

   // replace the form content (so no need to reset the form, right?)
   if ( stockitem_id == "null" ) {
     $("#article_null_div #new_article").replaceWith(formText)
   } else {
     $("#article_" + stockitem_id + "_div #new_article").replaceWith(formText)
   }
   
 };

</script>
