<h2>Search for Articles</h2>

<%= form_tag(articles_path, url: articles_path, method: "get", id: "search-form") do %>
<div class="form-group">
  <!-- <span class="input-group-addon">Search for</span> -->
  <label class="control-label" for="pattern">Search for</label>
  <%= text_field_tag :pattern, session[:pattern], placeholder: "Search Articles", class: "form-control" %>
</div>
<div class="form-group">
  <!-- <span class="input-group-addon">within</span> -->
  <label class="control-label" for="radius">within</label>
  <%= text_field_tag :radius, session[:radius], placeholder: "Search Radius", class: "form-control" %>
</div>
<div class="form-group">
  <!-- <span class="input-group-addon">km around</span> -->
  <label class="control-label" for="address">km radius around</label>
  <%= text_field_tag :address, session[:address], placeholder: "address", class: "form-control" %>
</div>
<%= submit_tag "Search", class: "btn btn-default btn-sm" %>
<% end %>
