- @title = @article.title
- @with_map = true
    
-#.col-xs-12
.col-xs-12.col-sm-9
  %h3= @title
  = render 'article_show', article: @article
  -#.row
    .col-xs-12
      #mapid{:style => "width: -1; height: 300px;"}

.col-xs-12.col-sm-3
  = tipp_panel do
    = render 'show_help'

:javascript
  onMapClick = function(e) {
    console.log("You clicked the marker " + e.target.index);
  };
  
  $(document).ready(function() {
    #{render 'articles/map_show.js.erb', houses: [@article.location.house], articles: @article.user.articles, formats: [:js]}
    
  });
