- @title = @article.title

-#.col-xs-12.col-sm-3.col-sm-push-9
  = tipp_panel do
    = t('.tip_panel_text')
    
-#.col-xs-12.col-sm-9.col-sm-pull-3
.col-xs-12
  %h3= @title
  = render 'article_show', article: @article
  .row
    .col-xs-12
      #mapid{:style => "width: -1; height: 400px;"}

= render 'layouts/modal_error'
        
:javascript
  onMapClick = function(e) {
    console.log("You clicked the marker " + e.target.index);
  };
  
  $(document).ready(function() {
    #{render 'articles/map_show.js.erb', location: @article.location, formats: [:js]}

    // ajax response for user article requests
    $('.new_user_article_request').on('ajax:success', function ()
    {
      // find a parent element
      parent_div = $(this).parentsUntil('.request-panel').parent();
      // hide the form and show the send message
      parent_div.find('.waiting').hide(200)
      parent_div.find('.request-was-send').show(200)
    });

    // ajax response for user article requests
    $('.new_user_article_request').on('ajax:beforeSend', function ()
    {
      // find a parent element
      parent_div = $(this).parentsUntil('.request-panel').parent();
      // hide the form and show the send message
      parent_div.find('.send-request').hide(200)
      parent_div.find('.waiting').show(200)
    });


    // ajax response for user article requests
    $('.new_user_article_request').on('ajax:error', function ()
    {
      // find a parent element
      parent_div = $(this).parentsUntil('.request-panel').parent();
      // hide the form and show the send message
      parent_div.find('.waiting').hide(200)
      parent_div.find('.send-request').show(200)
    });

    // global ajax responses
    $('body').on("ajax:success", function(e, data, status, xhr) {
      console.log("Success");
    });

    $('body').on("ajax:error", function(e, xhr, status, error) {
      console.log("Error");
      $("#modal-error").modal("show");
    });
    
  });
