<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @template.title %>
</p>

<p>
  <strong>Details hint:</strong>
  <%= @template.details_hint %>
</p>

<p>
  <strong>Rate eur:</strong>
  <%= @template.rate_ct %>
</p>

<p>
  <strong>Rate interval:</strong>
  <%= @template.rate_interval %>
</p>

<p>
  <strong>Picture:</strong>
  <%= @template.picture %>
</p>

<%= link_to 'Edit', edit_template_path(@template) %> |
<%= link_to 'Back', templates_path %>
