= bootstrap_form_for @stockitem do |f|
  = f.alert_message 'fix errors'
  = f.text_field :title
  = f.text_area :details_hint
  = f.text_field :rate
  = f.text_field :picture
  = f.text_field :room
  = f.submit
