%p#notice= notice
%p
  %strong Title_de:
  = @stockitem.title_de
%p
  %strong Title_en:
  = @stockitem.title_en
%p
  %strong Details hint_de:
  = @stockitem.details_hint_de
%p
  %strong Details hint_en:
  = @stockitem.details_hint_en
%p
  %strong Category:
  = @stockitem.category.name_de
%p
  %strong Picture:
  = @stockitem.picture
= link_to 'Edit', edit_stockitem_path(@stockitem)
|
= link_to 'Back', stockitems_path
