= bootstrap_form_tag(url: form_path, method: "get", id: "search-form", layout: :horizontal) do |f|
  = f.text_field :pattern, value: session[:pattern], placeholder: t(".pattern_placeholder"), label: t(".pattern_label"), autofocus: true, data_toggle: "tooltip", title: t(".tooltip_pattern_field")
  = f.text_field :radius, value: session[:radius], placeholder: t(".radius_placeholder"), label: t(".radius_label"), append: "km"

  - if current_user && current_user.locations.count > 0
    = f.form_group do
      = f.check_box :use_user_location, label: t('.user_location_cb_label'), value: session[:use_user_location]
  
    = f.collection_select :address_location_id, current_user.locations, :id, :shortaddress, label: t('.address_label'), value: session[:address_location_id]
  
  = f.text_field :address, value: session[:address], placeholder: t(".address_placeholder"), label: t(".address_label"), data_toggle: "tooltip", title: t(".tooltip_address_field")

  = f.form_group do
    = submit_tag t(".search_button_label"), class: "btn btn-default btn-sm"
