%h2= @title

= t('.this_project_was_made_with_the_help_of')

%ul
  %li
    = link_to 'Ruby on Rails', 'http://rubyonrails.org/'
  %li
    = link_to 'Bootstrap', 'http://getbootstrap.com/'
  %li
    = link_to 'Glyphicons', 'http://glyphicons.com/'
  %li
    = link_to 'Google ReCaptcha', 'https://www.google.com/recaptcha'
  %li
    = link_to 'Nominatim', 'http://www.nominatim.org/'
  -#%li
    = link_to '', ''
