= content_tag :h2, t("What now")
- if current_user.lastname.blank?
  %div
    %h3 Dein Profil!
    = bootstrap_form_for resource, as: resource_name, url: 'pages/firststeps' do |f|
      = f.text_field :firstname
      = f.text_field :lastname
      = f.submit 'Submit'
    %ul
      %li= link_to t("Edit your Profile"), edit_user_basic_path
      %li= link_to t("Edit your Locations"), edit_user_locations_path
      %li= link_to t("Manage your Articles"), edit_user_articles_path
      %li= link_to t("Create new Articles"), new_user_articles_path
    %ul
      %li
  %li
    - if current_user.locations.count == 0
      %h3 Gib deinen Standort an!
    - else
      %h3 Neuen Standort erstellen
    %div Standort erstellen Formular
    %div Was ist ein Standort?
    %div= link_to 'Standorte verwalten', edit_user_location_path
  %li
    %h3 Erstelle dein Angebot!
    %div
