<%= content_tag :h2, t("What now")%>

<% if current_user.lastname.blank? %>
  <div>
    <h3> Dein Profil!</h3>
    <%= bootstrap_form_for resource, as: resource_name, url: 'pages/firststeps' do |f| %>
      <%= f.text_field :firstname %>
      <%= f.text_field :lastname %>
      <%= f.submit 'Submit'%>
    <% end %>
<% end %>

<ul>
  <li><%= link_to t("Edit your Profile"), edit_user_basic_path %></li>
  <li><%= link_to t("Edit your Locations"), edit_user_locations_path %></li>
  <li><%= link_to t("Manage your Articles"), edit_user_articles_path %></li>
  <li><%= link_to t("Create new Articles"), new_user_articles_path %></li>
</ul>

<ul>
  <li>
    </div>
  </li>
  <li>
    <% if current_user.locations.count == 0 %>
      <h3>Gib deinen Standort an!</h3>
    <% else %>
      <h3>Neuen Standort erstellen</h3>
    <% end %>
    <div>Standort erstellen Formular</div>
    <div>Was ist ein Standort?</div>
    <div><%= link_to 'Standorte verwalten', edit_user_location_path %></div>
  </li>
  <li>
    <h3>Erstelle dein Angebot!</h3>
    <div></div>
  </li>
</ul>
