- articles_count = @articles.count(:all)
- locations_count = @locations.count(:all)

.row
  .col-xs-12
    - if Search.articles_per_page < articles_count
      .shareshore-panel
        - if Search.articles_per_page < articles_count(:all)
          = t('.text_x_of_y', x: [Search.articles_per_page, articles_count].min, y: articles_count)
    - if @articles.empty?
      .empty-list
        = t('.empty_articles_list_message')

    - @location_articles_list.each do |e|
      - location = e[:location]
      - articles = e[:articles]
      .shareshore-panel.location-pane
        .location{"data-house-id": "#{location.house_id}"}
          .location_view
            = render 'locations/location_view', location: location, home: location.house == @house_center
        - articles.each do |article|
          .article-pane{article_title: "#{article.title}"}
            .row
              .col-xs-1
              .col-xs-10
                = render 'articles/article_view', article: article, edit: false
              .col-xs-1
