= bootstrap_form_for search, url: search_path, method: :get, layout: :horizontal do |f|
  = f.alert_message t('common.message_fix_errors')
  = f.text_field :pattern, placeholder: t(".pattern_placeholder"), label: t(".pattern_label"), autofocus: true, data_toggle: "tooltip", title: t(".tooltip_pattern_field")
  = f.text_field :radius, placeholder: t(".radius_placeholder"), label: t(".radius_label"), append: "km"

  - if current_user && current_user.locations.count > 0
    = f.form_group do
      = f.check_box :use_location, label: t('.user_location_cb_label')
  
    = f.collection_select :location_id, current_user.locations, :id, :shortaddress, label: t('.address_label')
  - else
    = f.hidden_field :use_location, value: false

  = f.text_field :address, placeholder: t(".address_placeholder"), label: t(".address_label"), data_toggle: "tooltip", title: t(".tooltip_address_field")

  = f.form_group do
    = f.submit t(".search_button_label"), class: "btn btn-default"

:javascript
  $(document).on('turbolinks:load', function() {

    $('#search_use_location').on('click', function(e) {
      console.log('test: '+ e.target.checked);
      $('#search_location_id').parentsUntil('.form-group').parent().toggle(e.target.checked);
      $('#search_address').parentsUntil('.form-group').parent().toggle(!e.target.checked);
    });

    $('#search_location_id').parentsUntil('.form-group').parent().toggle(#{search.use_location});
    $('#search_address').parentsUntil('.form-group').parent().toggle(!#{search.use_location});
    console.log("hier #{search.use_location}");
  });
