= simple_form_for search, url: search_path, method: :get, html: {class: "form-horizontal"} do |f|
  .form-group
    .col-xs-2.text-right
      = f.label :pattern, class: "control-label"
    .col-xs-10
      = f.text_field :pattern, placeholder: t(".pattern_placeholder"), label: t(".pattern_label"), autofocus: true, class: "form-control filter_pattern"

  .form-group
    .col-xs-2.text-right
      = f.label :transport, class: "control-label"
    .col-xs-10
      - SearchesHelper::TransportModel.list_transport_models.each do |model|
        = f.label "transport_" + model, class: "radio-inline", data_toggle: "tooltip", title: "#{search_transport_radius(model)}" do
          = f.radio_button :transport, model
          = transport_icon(model) + " "
          = t('activerecord.attributes.search.transport_' + model)

  - if current_user && current_user.location
    .form-group
      .col-xs-2.text-right
        = f.label :address, class: "control-label"
      .col-xs-10
        = f.label :use_location, class: "checkbox-inline", data_toggle: "tooltip", title: t('.use_location_tooltip') do
          = f.check_box :use_location
          = Search.human_attribute_name("use_location")
  - else
    = f.hidden_field :use_location, value: false

  .form-group{class: [@search.errors[:address].length != 0 && "has-error"]}
    .col-xs-2.text-right
      - unless current_user && current_user.location
        = f.label :address, class: "control-label"
    .col-xs-10
      = f.text_field :address, placeholder: t(".address_placeholder"), label: t(".address_label"), class: "form-control"
      - if search.errors[:address].length != 0
        %span.help-block
          - @search.errors[:address].each do |msg|
            = msg
  .form-group
    .col-xs-2
    .col-xs-10
      = f.submit t(".search_button_label"), class: "btn btn-default"

:javascript
  $(document).ready(function() {

    $('#search_location_id').closest('.form-group').toggle(#{search.use_location});
    $('#search_address').closest('.form-group').toggle(!#{search.use_location});

  });
