- @title = t('titles.searches.show')
- @with_map = true

= render 'search_form', search: @search.dup

- if @house_center
  .house
    .row
      .col-xs-12
        #{t('.text_at_house')} #{house_marker(@house_center)}:
        - has_a_location_here = false
        - @house_center.locations.each do |location|
          - if location.user == current_user
            - has_a_location_here = true
          - else
            = user_marker(location.user)
            (#{articles_count(location.articles)})
        - if has_a_location_here
          - if @house_center.locations.count > 1
            = t('.and_you')
          - else
            = t('.you')
          %span.glyphicon.glyphicon-heart
          !

#results
  = render 'results'

:javascript
  $(document).ready(function() {
    #{render 'articles/map_index.js.erb', articles: @articles}

  });
