%p#notice= notice
%p
  %strong Text:
  = @user_article_request.text
%p
  %strong Sender:
  = @user_article_request.sender
%p
  %strong Article:
  = @user_article_request.article
= link_to 'Edit', edit_user_article_request_path(@user_article_request)
|
= link_to 'Back', user_article_requests_path
