= simple_form_for location, remote: true, html: {class: "form-horizontal"} do |f|
  - if location.errors[:base].length != 0
    .alert.alert-danger
      .p
        = t('.the address is unknown')
  .form-group
    .col-xs-3.text-right
      = f.label :address, class: "control-label"
    .col-xs-9
      = f.text_field :address, class: "form-control"
  .form-group
    .col-xs-2
    .col-xs-10
      = f.submit t("forms.finish"), class: "btn btn-default"
      = f.submit t('forms.reset'), type: "reset", class: "btn btn-default"
