= bootstrap_form_for(location, layout: :horizontal, remote: true) do |f|
  = f.alert_message t('common.message_fix_errors')
  = f.text_field :street
  = f.text_field :number
  = f.text_field :postcode
  = f.text_field :city
  = f.text_field :country
  - if is_admin?
    = f.number_field :house_id
  = f.form_group do
    = f.submit t('forms.finish')
    = f.submit t('forms.reset'), type: "reset", class: "btn btn-default"
