<div class="row">
  <% unless defined? owner %>
    <div class="col-xs-4">
      <b><%= t('user') %>:</b> <%= link_to location.user.nickname, user_path(location.user) %>
      <br>
      <b><%= t('name') %>:</b> <%= location.user.fullname %>
      <br>
      <%= location_marker location %>
    </div>
  <% end %>
  
  <div class="col-xs-4">
    <%= location.street_and_no %>
    <br>
    <%= location.postcode %>
    <br>
    <%= location.city %>
    <br>
    <%= location.country %>
  </div>
  
  <div class="col-xs-4 text-right">
    <b><%= t('articles') %>:</b> <%= link_to location.articles.count, articles_location_path(location) %>
    <% if @current_location %>
      <br>
      <% if defined?(home) && home %>
        <span class="glyphicon glyphicon-home" data-toggle="tooltip" title="Bei Dir im Haus"></span>
      <% else %>
        <b><%= t('distance') %>:</b> <%= "%.1f km" % location.distance_from( @current_location ) %>
      <% end %>
    <% end %>
    <% if defined? owner %>
      <br>
      <%= location_marker location, text: t("view on map") %>
    <% end %>
  </div>

  <% if defined?(owner) && current_user && current_user.id == location.user.id %>
    <div class="col-xs-4 text-right">
      <%= link_to("", "", class: "glyphicon glyphicon-pencil location_edit_button edit-remove", data: { location_id: location.id } ) %>
      <%= link_to("", location, method: :delete, data: { confirm: t("Are you sure?") }, class: "glyphicon glyphicon-remove edit-remove", remote: true) %>
    </div>
  <% end %>
</div>
