-# locals
- home ||= false
- edit ||= false
.row
  - unless edit
    .col-xs-6.col-sm-3
      = user_marker(location.user)
    .col-xs-6.col-sm-4
      = location_marker location
    .col-xs-6.col-sm-2
      = articles_location_count(location)

    .col-xs-6.col-sm-3
      - if @current_location
        - if home
          = home_icon
        = distance_label home, @current_location, location
  - else
    .col-xs-6
      = location.street
      = location.number
      %br/
      = location.postcode
      %br/
      = location.city
      %br/
      = location.country
    .col-xs-6
      = location_marker location
      %br/
      = user_marker(location.user)
      %br/
      = articles_location_count(location)
      %br/
      .text-right
        = edit_icons(location)
