<% @title = t('Users nearby') %>

<%= render 'layouts/search', form_path: locations_path %>

<% if @house_center %>
  <div class="house">
    <div class="row">
      <div class="col-xs-12">
        Im Haus <%= house_marker(@house_center) %>:
        <% @house_center.locations.each do |location| %>
          <%= user_marker(location.user) %>
          (<%= link_to location.articles.count.to_s + " " + t('Articles'), articles_location_path(location) %>)
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="col-xs-12">
    <ul class="nav nav-tabs">
      <%= content_tag(:li, link_to(t('Articles nearby'), articles_path, class: "tab"),
                      class: [] )%>
      <%= content_tag(:li, link_to(t('Users nearby'), locations_path, class: "tab"),
                      class: ['active'] )%>
    </ul>
  </div>
</div>


<div class="row">
  <% if @current_location %>
    <div class="col-xs-12 col-md-4">
      <div id="mapid" style="width: -1; height: 400px;"></div>
    </div>
  <% end %>

  <div class="col-xs-12 col-md-8">

    <% if @locations.empty? %>
      <div class="empty-list">
        <%= t('No users found') %>
      </div>
    <% end %>

    <% @locations.each do |location| %>
      <% location_div_id = "location_" + location.id.to_s + "_div" %>
      <% home = location.house == @house_center %>
      
      <div class="location" id="<%= location_div_id %>" data-house-id="<%= location.house_id %>">
        <div class="location_view">
          <%= render 'location_view', location: location, home: home%>
        </div>        
      </div>
    <% end %>

    <% will_paginate @locations, renderer: BootstrapPagination::Rails %>
  </div>
</div>


<script type="text/javascript">
 onMapClick = function(e) {
   console.log("You clicked the marker " + e.target.index);
 };
 
 $(document).ready(function() {
   <%= render 'articles/map.js.erb', articles: Article.all, formats: [:js] %>
   
   // article hover event handler
   var onArticleMouseEnter = function(e) {
     // search the marker with the correct house index
     for (i = 0; i< markers.length; i++) {
       //if ( markers[i].index == $(this).attr("data-house-id") ) {
       var house_id = $(this).parentsUntil(".location").parent().attr("data-house-id")
       if ( markers[i].index == house_id ) {       
         markers[i].openPopup();
         break;
       }
     }
   }

   // article hover event handler
   var onArticleMouseLeave = function(e) {
     // search the marker with the correct house index
     for (i = 0; i< markers.length; i++) {
       var house_id = $(this).parentsUntil(".location").parent().attr("data-house-id")
       if ( markers[i].index == house_id ) {
         markers[i].closePopup();
         break;
       }
     }
   }
   
   // bind the event handler
   $(".location_marker").on('mouseenter', onArticleMouseEnter);
   $(".location_marker").on('mouseleave', onArticleMouseLeave);

 });


</script>
