<script type="text/javascript" src="http://openlayers.org/api/OpenLayers.js"></script>  

<% if not @user and not @location %>
  <%= render 'layouts/search', form_path: locations_path %>
<% end %>

<% if @user %>
  <% spec_string = " " + t("for") +" " + @user.nickname %>
<% elsif @location %>
  <% spec_string = " " + t("at") + " " + @location.shortaddress + " " + t("for") + " " + @location.user.nickname %>
<% else %>
  <% spec_string = " " + t("nearby") %>
<% end %>

<div class="row">
  <div class="col-xs-12">
    <ul class="nav nav-tabs">
      <%= content_tag(:li, link_to(t('Articles') + ' ' + t('nearby'), articles_path, class: "tab"),
                      class: [] )%>
      <%= content_tag(:li, link_to(t('Users') + ' ' + t('nearby'), locations_path, class: "tab"),
                      class: ['active'] )%>
    </ul>
  </div>
</div>

<% if @current_location %>
<div class="row">
  <div class="col-xs-12">
      <div id="mapid" style="width: -1; height: 400px;"></div>
  </div>
</div>
<% end %>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= User.human_attribute_name("nickname") %></th>
      <th><%= User.human_attribute_name("firstname") %></th>
      <th><%= User.human_attribute_name("lastname") %></th>
      <th><%= User.human_attribute_name("articles_count") %></th>
      <th><%= User.human_attribute_name("location") %></th>
      <% if @current_location %>
        <th><%= t("Distance") %></th>
      <% end %>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @locations.each do |location| %>
      <tr>
        <td><%= link_to location.user.nickname, location.user %></td>
        <td><%= location.user.firstname %></td>
        <td><%= location.user.lastname %></td>
        <td><%= location.user.articles.count %></td>
        <td><%= location.shortaddress %></td>
        <% if @current_location %>
          <td><%= "%.1f km" % location.distance_from( @current_location ) %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @locations, renderer: BootstrapPagination::Rails %>


<% if @current_location %>
    <script type="text/javascript">
     var map = new OpenLayers.Map("mapid");

     var wms = new OpenLayers.Layer.WMS(

         "OpenLayers WMS",

         "http://labs.metacarta.com/wms/vmap0",
         
         {layers: 'basic'}
         
     );

     var fromProjection = new OpenLayers.Projection("EPSG:4326");   // Transform from WGS 1984
     var toProjection   = new OpenLayers.Projection("EPSG:900913"); // to Spherical Mercator Projection
     var zoom;
     var position;
     var center_position;

     map.addLayer(new OpenLayers.Layer.OSM());
     
     var bounds = new OpenLayers.Bounds();

     bounds.extend(new OpenLayers.LonLat( <%= @bound_n[1] %>, <%= @bound_n[0] %>).transform( fromProjection, toProjection));
     bounds.extend(new OpenLayers.LonLat( <%= @bound_s[1] %>, <%= @bound_s[0] %>).transform( fromProjection, toProjection));
     bounds.extend(new OpenLayers.LonLat( <%= @bound_e[1] %>, <%= @bound_e[0] %>).transform( fromProjection, toProjection));
     bounds.extend(new OpenLayers.LonLat( <%= @bound_w[1] %>, <%= @bound_w[0] %>).transform( fromProjection, toProjection));

     center_position = new OpenLayers.LonLat( <%= @current_location.longitude %>, <%= @current_location.latitude %>).transform( fromProjection, toProjection);
     /* bounds.extend(center_position);*/


     var markers = new OpenLayers.Layer.Markers( "Markers" );
     map.addLayer(markers);
     markers.addMarker(new OpenLayers.Marker(center_position));
     var iconsize = new OpenLayers.Size(21,25);
     var icon = new OpenLayers.Icon('http://www.openlayers.org/api/img/marker-blue.png', iconsize);

     <% @locations.each do |location| %>
     position = new OpenLayers.LonLat( <%= location.longitude %>, <%= location.latitude %>).transform( fromProjection, toProjection);
     markers.addMarker(new OpenLayers.Marker(position, icon.clone()));
     /* bounds.extend(position);*/
     <% end %>        

     zoom = map.getZoomForExtent(bounds);
     console.log("zoom: " + zoom);
     map.setCenter(center_position, zoom );
    </script>
<% end %>
