- @title = t('titles.locations.index')

- if is_admin?
  - @title += ' of ' + @user.nickname

.col-xs-12.col-sm-9
  %h3= @title
  .location
    .row
      .col-xs-10
        = link_to(t(".create_new_location"), "", class: "mp-toggle-visibility", id: "location_new_button", data: {toggle_target: "#location_new"} )
      .col-xs-2.text-right
        = link_to("", "", class: "glyphicon glyphicon-plus mp-toggle-visibility", id: "location_new_button", data: {toggle_target: "#location_new", toggle: "tooltip"}, title: t('.tooltip_add_button') )
    #location_new.row{class: @locations.count > 0 && 'to_hide' }
      .col-xs-12
        = render 'form', location: @location
  .location_placeholder

  %div{:class => "empty-list#{" to_hide" unless @locations.empty?}"}
    = t('.empty_list_message')
  - @locations.each do |location|
    = render 'location_owner', location: location

.col-xs-12.col-sm-3
  = tipp_panel do
    = render 'index_help'

:javascript
  $(document).ready(function(){
  });
  
