- @title = t('titles.locations.index')

= render 'pages/search_form', form_path: locations_path

- if @house_center
  .house
    .row
      .col-xs-12
        #{t('.text_at_house')} #{house_marker(@house_center)}:
        - has_a_location_here = false
        - @house_center.locations.each do |location|
          - if location.user == current_user
            - has_a_location_here = true
          - else
            = user_marker(location.user)
            (#{link_to articles_count(location.articles), articles_location_path(location)})
        - if has_a_location_here
          = t('.and_you')
          %span.glyphicon.glyphicon-heart
          !

.row
  .col-xs-12
    %ul.nav.nav-tabs
      %li
        = link_to(t('titles.articles.index'), articles_path, class: "tab")
      %li.active
        = link_to(t('titles.locations.index'), locations_path, class: "tab")

.row
  .col-xs-12.col-md-4
      #mapid{:style => "width: -1; height: 400px;"}
  .col-xs-12.col-md-8
    - if current_user
      .shareshore-panel
        = t('.warning_about_own_locations')
    - if @locations.empty?
      .empty-list
        = t('.empty_list_message')
    - @locations.each do |location|
      - location_div_id = "location_" + location.id.to_s + "_div"
      - home = location.house == @house_center
      .location{"data-house-id" => "#{location.house_id}", :id => location_div_id}
        .location_view
          = render 'location_view', location: location, home: home
    - will_paginate @locations, renderer: BootstrapPagination::Rails
    
:javascript
  onMapClick = function(e) {
    console.log("You clicked the marker " + e.target.index);
  };
  
  $(document).ready(function() {
    #{render 'articles/map_index.js.erb', articles: Article.all, formats: [:js]}
    
    // article hover event handler
    var onLocationMouseEnter = function(e) {
      // search the marker with the correct house index
      for (i = 0; i< markers.length; i++) {
        //if ( markers[i].index == $(this).attr("data-house-id") ) {
        var house_id = $(this).parentsUntil(".location").parent().attr("data-house-id")
        if ( markers[i].index == house_id ) {       
          markers[i].openPopup();
          break;
        }
      }
    }

    // article hover event handler
    var onLocationMouseLeave = function(e) {
      // search the marker with the correct house index
      for (i = 0; i< markers.length; i++) {
        var house_id = $(this).parentsUntil(".location").parent().attr("data-house-id")
        if ( markers[i].index == house_id ) {
          markers[i].closePopup();
          break;
        }
      }
    }
    
    // bind the event handler
    $(".location_marker").on('mouseenter', onLocationMouseEnter);
    $(".location_marker").on('mouseleave', onLocationMouseLeave);

  });
