<p>
  <strong><%= t("Street and no") %>:</strong>
  <%= @location.street_and_no %>
</p>

<p>
  <strong><%= t("Postcode") %>:</strong>
  <%= @location.postcode %>
</p>

<p>
  <strong><%= t("City") %>:</strong>
  <%= @location.city %>
</p>

<p>
  <strong><%= t("Country") %>:</strong>
  <%= @location.country %>
</p>

<p>
  <strong><%= t("User") %>:</strong>
  <%= @location.user.email %>
</p>

<%= link_to t("Edit"), edit_location_path(@location) %>
