%nav.navbar.navbar-default{:role => "navigation"}
  .container
    .navbar-header
      %a.navbar-brand{:href => "/"}
        = t('.brand_shareship')
        %sub beta
      %button.navbar-toggle{"data-target" => "#navbarCollapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
    #navbarCollapse.collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-left
        %li
          = link_to search_path, class: 'navbar-link' do
            %span{class: "glyphicon glyphicon-search"}
            = t("titles.searches.new")
      %ul.nav.navbar-nav.navbar-right
        - if user_signed_in?
          %li= link_to t("titles.articles.index"), articles_path, class: 'navbar-link'
          %li= link_to t("titles.articles.new_from_stockitems"), user_new_article_from_stockitems_path, class: 'navbar-link'
          %li= link_to t("titles.locations.index"), locations_path, class: 'navbar-link'
          %li.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              %span.glyphicon.glyphicon-user
              %strong= current_user.nickname
              %b.caret
            %ul.dropdown-menu{:role => "menu"}
              %li= link_to t("titles.users.registrations.edit"), edit_user_registration_path, class: 'navbar-link'
              %li= link_to t("titles.users.registrations.guidepost"), user_guidepost_path, class: 'navbar-link'
              %li.divider
              %li= link_to t("titles.users.sessions.destroy"), destroy_user_session_path, method: :delete, class: 'navbar-link'
        - else
          %li
            = link_to t("titles.users.registrations.new"), new_user_registration_path, class: 'navbar-link'
          %li
            = link_to t("titles.users.sessions.new"), new_user_session_path, class: 'navbar-link'
      %ul.nav.navbar-nav.navbar-right
