<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Shareshore</a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-left">
        <li>
          <%= link_to t("Search Articles"), search_articles_path, class: 'navbar-link' %>
        </li>
      </ul>
      
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
        <li>
          <div class="navbar-text"><%= t("Logged in as") %> <strong><%= current_user.nickname %></strong>.</div>
        </li>
        <% end %>
        <% if user_signed_in? %>
        <li>
          <%= link_to t("New Article"), new_article_path(current_user), :class => 'navbar-link' %>
        </li>
        <li>
          <%= link_to t("Edit Profile"), edit_user_registration_path, :class => 'navbar-link' %>
        </li>
        <li>
          <%= link_to t("Logout"), destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
        </li>
        <% else %>
        <li>
          <%= link_to t("Signup"), new_user_registration_path, :class => 'navbar-link'  %>
        </li>
        <li>
          <%= link_to t("Login"), new_user_session_path, :class => 'navbar-link'  %>
        </li>
        <% end %>
      </ul>

      <ul class="nav navbar-nav navbar-right">
      </ul> 

    </div>
  </div>
</nav>          
