!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}
    - the_title = t('.title_shareship')
    - if @title
      - the_title += " - " + @title.to_s
    %title= the_title
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    - #stylesheet_link_tag "https://unpkg.com/leaflet@1.0.1/dist/leaflet.css"
    = stylesheet_link_tag "leaflet.css"
    - #javascript_include_tag "https://unpkg.com/leaflet@1.0.1/dist/leaflet.js"
    = javascript_include_tag "leaflet.js"
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    = render 'application/favicon'
  %body
    = render 'layouts/navigation'
    .all_but_map{class: @with_map && 'map_visible' }
      .container.main-content{class: @with_map && 'map_visible' }
        %noscript
          .row
            .col-xs-12
              .alert.alert-danger
                %p
                  = t('.warning_no_script')
                  
        -#.row
          .col-xs-12
            -#= render 'layouts/messages'
            - flash.each do |key, value|
              %div{:class => "alert alert-#{key}"}
                %a.close{"data-dismiss" => "alert", :href => "#"} ×
                %ul
                  %li
                    = value
        .row
          .col-xs-12
            = yield

        = render 'layouts/modal_error'

      .top-notifications
        - flash.each_with_index do |item, index|
          -#%div{:class => "alert alert-#{item[0]}", id: "flash-message-" + index.to_s}
          .notification.clearfix{id: "flash-message-" + index.to_s}
            = item[1]
            .pull-right
              = link_to t(".flash_close_button"), "#", class: "mp-toggle-visibility", data: {"toggle-target": "#flash-message-" + index.to_s}

      .bottom-notifications
        - if !session[:beta_accepted] and not current_user
          #beta-warning.notification.clearfix
            %strong
              = succeed ':' do
                = t('.attention')
            = t('.text_beta_warning')
            .pull-right
              = link_to t(".accept_beta_button"), "/accept_beta", class: "mp-toggle-visibility", data: {"toggle-target": "#beta-warning"}, remote: true

        - if !session[:cookies_accepted] and not current_user
          #cookie-warning.notification.clearfix
            %strong
              = succeed ':' do
                = t('.attention')
            = t('.text_cookie_warning')
            .pull-right
              = link_to t(".accept_cookies_button"), "/accept_cookies", class: "mp-toggle-visibility", data: {"toggle-target": "#cookie-warning"}, remote: true

    %footer.footer
      .container
        .col-sm-4.col-xs-12
          %div
            - if user_signed_in? && current_user.role == "admin"
              %li
                = link_to "Admin", '/pages/admin'
            - else
              %li Martin Puttke 2016

          %p
            %ul.list-unstyled
              %li
                -# byebug
                = link_to "DE", request.parameters.update({locale: "de"})
              %li
                = link_to "EN", request.parameters.update({locale: "en"})
        .col-sm-4.col-xs-12
          %h3= t('.heading_help')
          %ul.list-unstyled
            %li= link_to t('titles.pages.tutorial'), '/pages/tutorial'
            %li= link_to t('titles.pages.guideline'), '/pages/guideline'
            %li= link_to t('titles.pages.faq'), '/pages/faq'
            %li= link_to t('titles.contacts.new'), contacts_path
            %li= link_to t('titles.pages.who_is_it'), '/pages/who_is_it'
            %li= link_to t('.bug_found'), contacts_path(subject: t('.subject_bug_found'), message: t('.text_describe_bug') + "\r\r" + "Url: " + request.url) 
        .col-sm-4.col-xs-12
          %h3= t('.heading_law')
          %ul.list-unstyled
            %li= link_to t('titles.pages.terms_of_use'), '/pages/terms-of-use'
            %li= link_to t('titles.pages.privacy'), '/pages/privacy'
            %li= link_to t('titles.pages.disclaimer'), '/pages/disclaimer'
            %li= link_to t('titles.pages.about'), '/pages/about'  
            %li= link_to t('titles.pages.contrib'), '/pages/contrib'  

  - if defined? @with_map
    .container-fluid
      .global-map-container
        .text-right
          = link_to "Click: " + t(".toggle_map_tooltip"), class: 'mp-toggle-visibility toggle-map', data: { toggle_target: "#mapid", toggle: "tooltip" }, title: t('.toggle_map_tooltip') do
            %span.glyphicon.glyphicon-eye-open
        #mapid.global{style: "width: 100vw; height: 40vh;"}
        
      
