<!DOCTYPE html>
<html>
  <head>
    <% the_title = t('shareshore') %>
    <% if @title %>
      <% the_title += " - " + @title.to_s %>
    <% end %>
    <title><%= the_title %></title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <%= render 'layouts/navigation' %>

    
    <div class="container main-content">
      <div class="row">
        <%= render 'layouts/messages' %>
      </div>
      
      <div class="row">
        <div class"col-xs-12">
          <%= yield %>
        </div>
      </div>
    </div>      

    <footer class="footer">
      <div class="container">
        <div class="pull-left">
          Martin Puttke 2016
        </div>
        <div class="pull-right">
          <ul class="list-inline">
            <li><%= link_to t("Terms_of_use"), '/pages/terms-of-use' %></li>
            <li><%= link_to t('Contact'), '/pages/contact' %></li>
            <li><%= link_to t('FAQ'), '/pages/faq' %></li>
          </ul>
        </div>
    </div>
    </footer>
  </body>
</html>
