!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    - the_title = t('.title_shareship')
    - if @title
      - the_title += " - " + @title.to_s
    %title= the_title
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    - #stylesheet_link_tag "https://unpkg.com/leaflet@1.0.1/dist/leaflet.css"
    = stylesheet_link_tag "leaflet.css"
    - #javascript_include_tag "https://unpkg.com/leaflet@1.0.1/dist/leaflet.js"
    = javascript_include_tag "leaflet.js"
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    = render 'layouts/navigation'
    .container.main-content
      .row
        = render 'layouts/messages'
      .row
        %div
          = yield
    %footer.footer
      .container
        .pull-left
          - if user_signed_in? && current_user.role == "admin"
            = link_to "Admin", '/pages/admin'
          - else
            Martin Puttke 2016
        .pull-right
          %ul.list-inline
            %li= link_to t('titles.pages.tutorial'), '/pages/tutorial'
            %li= link_to t('titles.pages.faq'), '/pages/faq'
            %li= link_to t('titles.contacts.new'), contacts_path
            %li= link_to t('titles.pages.terms_of_use'), '/pages/terms-of-use'
            %li= link_to t('titles.pages.privacy'), '/pages/privacy'
            %li= link_to t('titles.pages.about'), '/pages/about'
