<%= simple_form_for(@stockitem_selection) do |f| %>
  <% #f.error_notification %>

  <div class="form-inputs">
    <div class="row">
      <% i=0 %>
      <% @rooms.each do |room| %>
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
          <h4><%= room %></h4>

          <%= f.association :stockitems, collection: @stockitems[room], as: :check_boxes, label: false %>
        </div>
        <% i += 1 %>
        <%= content_tag(:div, "", class: "clearfix visible-xs-block") if i%2 == 0 %>
        <%= content_tag(:div, "", class: "clearfix visible-sm-block") if i%3 == 0 %>
        <%= content_tag(:div, "", class: "clearfix visible-md-block") if i%4 == 0 %>
        <%= content_tag(:div, "", class: "clearfix visible-lg-block") if i%6 == 0 %>
        
      <% end %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
