<p id="notice"><%= notice %></p>

<h1>Listing Stockitem Selections</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @stockitem_selections.each do |stockitem_selection| %>
      <tr>
        <td><%= link_to 'Show', stockitem_selection %></td>
        <td><%= link_to 'Edit', edit_stockitem_selection_path(stockitem_selection) %></td>
        <td><%= link_to 'Destroy', stockitem_selection, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Stockitem selection', new_stockitem_selection_path %>
