-# locales
- article ||= nil
- showemail ||= false
- showphone ||= false
- showname = false # always

.shareshore-panel
  %h4= t('.heading_contact_info')
  - anycontact = false
  .row
    - unless user.fullname.blank? || !showname
      .col-xs-12
        %b
          = succeed ':' do
            = User.human_attribute_name('name')
        = user.fullname
        - anycontact = true
    - unless user.email.blank? || !showemail
      .col-xs-12
        %b
          = succeed ':' do
            = User.human_attribute_name('email')
        = mail_to user.email, user.email, subject: mail_subject(article)
        - anycontact = true
    - unless user.phoneno.blank? || !showphone
      .col-xs-12
        %b
          = succeed ':' do
            = User.human_attribute_name('phoneno')
        = user.phoneno
        - anycontact = true
    - unless anycontact
      .col-xs-12
        = t('.no_contact_info')
