-# parameters:
-# - resource

#user_form
  = simple_form_for(resource, remote: true, url: registration_path(resource_name), as: resource_name, html: { method: :put, class: "form-horizontal", id: :error_form}) do |f|
    = devise_error_messages!
    .form-group
      .col-xs-12
        %h4= t(".basic_info")
      .col-xs-12

  = simple_form_for(resource, remote: true, url: registration_path(resource_name), as: resource_name, html: { method: :put, class: "form-horizontal", id: :email_form}) do |f|
    .form-group
      .col-xs-3
        = f.label :email, class: "control-label"
      .col-xs-7.email_field.to_hide
        = f.email_field :email, autofocus: true, class: "form-control"
      .col-xs-7.email_field
        = resource.email
      .col-xs-2.email_field.text-right
        = link_to("", "", class: "glyphicon glyphicon-pencil edit-remove mp-toggle-visibility", data: { toggle_target: ".email_field", toggle: "tooltip"}, title: t('.tooltip_edit_button'))
      .col-xs-2.email_field.to_hide.text-right
        = submit_icon
        = link_to("", "", class: "glyphicon glyphicon-remove edit-remove mp-toggle-visibility", data: { toggle_target: ".email_field", toggle: "tooltip"}, title: t('.tooltip_remove_button'))

  = simple_form_for(resource, remote: true, url: registration_path(resource_name), as: resource_name, html: { method: :put, class: "form-horizontal", id: :nickname_form}) do |f|
    .form-group
      .col-xs-3
        = f.label :nickname, class: "control-label"
      .col-xs-7.nickname_field.to_hide
        = f.text_field :nickname, class: "form-control"
      .col-xs-7.nickname_field
        = resource.nickname
      .col-xs-2.nickname_field.text-right
        = link_to("", "", class: "glyphicon glyphicon-pencil edit-remove mp-toggle-visibility", data: { toggle_target: ".nickname_field", toggle: "tooltip"}, title: t('.tooltip_edit_button'))
      .col-xs-2.nickname_field.to_hide.text-right
        = submit_icon
        = link_to("", "", class: "glyphicon glyphicon-remove edit-remove mp-toggle-visibility", data: { toggle_target: ".nickname_field", toggle: "tooltip"}, title: t('.tooltip_remove_button'))

  = simple_form_for(resource, remote: true, url: registration_path(resource_name), as: resource_name, html: { method: :put, class: "form-horizontal", id: :password_form}) do |f|
    .form-group
      .col-xs-3
        = f.label :password, class: "control-label"
      .col-xs-7.password_field
        = resource.password
      .col-xs-7.password_field.to_hide
        = f.password_field :password, help: t(".help_password_leave_blank"), autocomplete: "off", class: "form-control"
      .col-xs-2.password_field.text-right
        = link_to("", "", class: "glyphicon glyphicon-pencil edit-remove mp-toggle-visibility", data: { toggle_target: ".password_field", toggle: "tooltip"}, title: t('.tooltip_edit_button'))
      .col-xs-2.password_field.to_hide.text-right
        = submit_icon
        = link_to("", "", class: "glyphicon glyphicon-remove edit-remove mp-toggle-visibility", data: { toggle_target: ".password_field", toggle: "tooltip"}, title: t('.tooltip_remove_button'))

    .form-group.password_field.to_hide
      .col-xs-3
        = f.label :password_confirmation, class: "control-label"
      .col-xs-7
        = f.password_field :password_confirmation, autocomplete: "off", label: t('.new_password_confirmation_label'), class: "form-control"

    .form-group.password_field.to_hide
      .col-xs-3
        = f.label :current_password, class: "control-label"
      .col-xs-7
        = f.password_field :current_password, help: t(".help_password_needed"), autocomplete: "off", class: "form-control"

  = simple_form_for(resource, remote: true, url: registration_path(resource_name), as: resource_name, html: { method: :put, class: "form-horizontal", id: :location_form}) do |f|
    .form-group
      .col-xs-12
        %h4= t(".location_info")
      .col-xs-10
        = t(".where_are_your_things")
      .col-xs-2.location_field.text-right
        = link_to("", "", class: "glyphicon glyphicon-pencil edit-remove mp-toggle-visibility", data: { toggle_target: ".location_field", toggle: "tooltip"}, title: t('.tooltip_edit_button'))
      .col-xs-2.location_field.to_hide.text-right
        = submit_icon
        = link_to("", "", class: "glyphicon glyphicon-remove edit-remove mp-toggle-visibility", data: { toggle_target: ".location_field", toggle: "tooltip"}, title: t('.tooltip_remove_button'))
      .col-xs-12.location_field
        .radio
          = resource.location.fulladdress

    = f.fields_for :location do |loc_f|
      .form-group.location_field.to_hide
        .col-xs-3
          = loc_f.label :street, class: "control-label"
        .col-xs-9
          = loc_f.text_field :street, class: "form-control"
        .col-xs-3
          = loc_f.label :number, class: "control-label"
        .col-xs-9
          = loc_f.text_field :number, class: "form-control"
        .col-xs-3
          = loc_f.label :city, class: "control-label"
        .col-xs-9
          = loc_f.text_field :city, class: "form-control"
        .col-xs-3
          = loc_f.label :postcode, class: "control-label"
        .col-xs-9
          = loc_f.text_field :postcode, class: "form-control"
        .col-xs-3
          = loc_f.label :country, class: "control-label"
        .col-xs-9
          = loc_f.country_select :country, { selected: resource.location.country }, { class: 'form-control' }
      - if is_admin?
        .form-group
          .col-xs-3
            = loc_f.label :house_id, class: "control-label"
          .col-xs-9
            = loc_f.number_field :house_id

  .form-group.location_field.to_hide
    #set_location_remark
      .col-xs-6
        = t('.text_location_incorrect')
      .col-xs-6
        = link_to t(".link_set_manually"), "#", id: "set_location_link", class: "btn btn-default"
    #set_location_controls
      .col-xs-6
        = t('.text_drag_marker_to_location')
      .col-xs-6
      = link_to t("forms.cancel"), "#", id: "cancel_set_location_link", class: "btn btn-default"
      = link_to t("forms.finish"), "#", id: "finish_set_location_link", class: "btn btn-default"

  = simple_form_for(resource, remote: true, url: registration_path(resource_name), as: resource_name, html: { method: :put, class: "form-horizontal", id: :contact_form}) do |f|
    .form-group
      .col-xs-12
        %h4= t(".contact_info")
      .col-xs-10
        = t(".how_shall_people_get_in_contact_with_you")
      .col-xs-2.contact_field.text-right
        = link_to("", "", class: "glyphicon glyphicon-pencil edit-remove mp-toggle-visibility", data: { toggle_target: ".contact_field", toggle: "tooltip"}, title: t('.tooltip_edit_button'))
      .col-xs-2.contact_field.to_hide.text-right
        = submit_icon
        = link_to("", "", class: "glyphicon glyphicon-remove edit-remove mp-toggle-visibility", data: { toggle_target: ".contact_field", toggle: "tooltip"}, title: t('.tooltip_remove_button'))

    .form-group
      .col-xs-12
        .checkbox
          %label
            .glyphicon.glyphicon-ok.contact_field
            = check_box_tag :pershareship, 'yes', true, disabled: true, class: ["contact_field", "to_hide"]
            = t(".per_shareship")
            .help-block
              = t(".per_shareship_help")
        -#= f.input :showemail
        .checkbox
          %label
            - if resource.showemail
              .glyphicon.glyphicon-ok.contact_field
            - else
              .glyphicon.glyphicon-remove.contact_field
            = f.check_box :showemail, class: ["contact_field", "to_hide"]
            = t('.per_email')
            .help-block
              = t('.per_email_help')
        .checkbox
          %label
            - if resource.showphone
              .glyphicon.glyphicon-ok.contact_field
            - else
              .glyphicon.glyphicon-remove.contact_field
            = f.check_box :showphone, class: ["contact_field", "to_hide"]
            = t('.per_phone')
            .help-block
              = t('.per_phone_help')
    .form-group
      .col-xs-3
        = f.label :phoneno, class: "control-label"
      .col-xs-9.contact_field
        = resource.phoneno
      .col-xs-9.contact_field.to_hide
        = f.text_field :phoneno, class: 'form-control'


  = simple_form_for(resource, remote: true, url: registration_path(resource_name), as: resource_name, html: { method: :put, class: "form-horizontal", id: :aboutme_form}) do |f|
    .form-group
      .col-xs-12
        %h4= t(".about_info")
      .col-xs-10
        = t(".write_a_few_nice_words")
      .col-xs-2.aboutme_field.text-right
        = link_to("", "", class: "glyphicon glyphicon-pencil edit-remove mp-toggle-visibility", data: { toggle_target: ".aboutme_field", toggle: "tooltip"}, title: t('.tooltip_edit_button'))
      .col-xs-2.aboutme_field.to_hide.text-right
        = submit_icon
        = link_to("", "", class: "glyphicon glyphicon-remove edit-remove mp-toggle-visibility", data: { toggle_target: ".aboutme_field", toggle: "tooltip"}, title: t('.tooltip_remove_button'))

    .form-group
      .col-xs-12.aboutme_field
        %cite
          = resource.aboutme
      .col-xs-12.aboutme_field.to_hide
        = f.text_area :aboutme, class: 'form-control'
