- @title = t('titles.users.registrations.edit')
- @with_map = true

-#.col-xs-12.col-sm-3.col-sm-push-9
  = tipp_panel do
    = render 'edit_help'

-#.col-xs-12.col-sm-9.col-sm-pull-3
.col-xs-12
  %h3= @title
  - if devise_mapping.confirmable? && resource.pending_reconfirmation?
    .alert.alert-warning
      = t(".text_awaiting_confirmation")
      \: #{resource.unconfirmed_email}

  = simple_form_for(resource, url: registration_path(resource_name), as: resource_name, html: { method: :put, class: "form-horizontal"}) do |f|
    = devise_error_messages!
    .form-group
      .col-xs-3
      .col-xs-9
        %h4= t(".basic_info")
    .form-group
      .col-xs-3.text-right
        = f.label :email, class: "control-label"
      .col-xs-9
        = f.email_field :email, autofocus: true, class: "form-control"
    .form-group
      .col-xs-3.text-right
        = f.label :nickname, class: "control-label"
      .col-xs-9
        = f.text_field :nickname, class: "form-control"
    .form-group
      .col-xs-3.text-right
        = f.label :password, class: "control-label"
      .col-xs-9
        = f.password_field :password, help: t(".help_password_leave_blank"), autocomplete: "off", class: "form-control"
    .form-group
      .col-xs-3.text-right
        = f.label :password_confirmation, class: "control-label"
      .col-xs-9
        = f.password_field :password_confirmation, autocomplete: "off", label: t('.new_password_confirmation_label'), class: "form-control"
    .form-group
      .col-xs-3.text-right
        = f.label :current_password, class: "control-label"
      .col-xs-9
        = f.password_field :current_password, help: t(".help_password_needed"), autocomplete: "off", class: "form-control"

    .form-group
      .col-xs-3
      .col-xs-9
        %h4= t(".location_info")
        = t(".where_are_your_things")
    = f.fields_for :location do |loc_f|
      .form-group
        .col-xs-3.text-right
          = loc_f.label :street, class: "control-label"
        .col-xs-5
          = loc_f.text_field :street, class: "form-control"
        .col-xs-2.text-right
          = loc_f.label :number, class: "control-label"
        .col-xs-2
          = loc_f.text_field :number, class: "form-control"
      .form-group
        .col-xs-3.text-right
          = loc_f.label :city, class: "control-label"
        .col-xs-5
          = loc_f.text_field :city, class: "form-control"
        .col-xs-2.text-right
          = loc_f.label :postcode, class: "control-label"
        .col-xs-2
          = loc_f.text_field :postcode, class: "form-control"
      .form-group
        .col-xs-3.text-right
          = loc_f.label :country, class: "control-label"
        .col-xs-9
          = loc_f.country_select :country, { selected: resource.location.country }, { class: 'form-control' }
      - if is_admin?
        .form-group
          .col-xs-3.text-right
            = loc_f.label :house_id, class: "control-label"
          .col-xs-9
            = loc_f.number_field :house_id

    .form-group
      .col-xs-3
      .col-xs-9
        %h4= t(".contact_info")
        = t(".how_shall_people_get_in_contact_with_you")

    .form-group
      .col-xs-3.text-right
      .col-xs-9
        .checkbox
          %label
            = check_box_tag :pershareship, 'yes', true, disabled: true
            = t(".per_shareship")
            .help-block
              = t(".per_shareship_help")
        -#= f.input :showemail
        .checkbox
          %label
            = f.check_box :showemail
            = t('.per_email')
            .help-block
              = t('.per_email_help')
        .checkbox
          %label
            = f.check_box :showphone
            = t('.per_phone')
            .help-block
              = t('.per_phone_help')
    .form-group
      .col-xs-3.text-right
        = f.label :phoneno, class: "control-label"
      .col-xs-9
        = f.text_field :phoneno, class: 'form-control'

    .form-group
      .col-xs-3
      .col-xs-9
        %h4= t(".about_info")
        = t(".write_a_few_nice_words")

    .form-group
      .col-xs-3.text-right
      .col-xs-9
        = f.text_area :aboutme, class: 'form-control'

    .form-group
      .col-xs-3.text-right
      .col-xs-9
        = f.submit t("forms.finish"), class: "btn btn-default"

  - if @user.articles.count < 1
    .alert.alert-notice
      = t('.use_the')
      = succeed "," do
        = link_to Stockitem.model_name.human(count: 2), user_new_article_from_stockitems_path
      = t('.to_build_up_your_inventory')

  = link_to t(".link_cancel_account"), registration_path(resource_name), data: { confirm: t(".delete_confirmation_question") }, method: :delete, class: "btn btn-default"
  = link_to t(".link_public_profile"), user_path(@user), class: "btn btn-default"

  -#%h4 Location - Where do you live?
  -#= bootstrap_form_for(location, layout: :horizontal, remote: true, label_col: "col-sm-3", control_col: "col-sm-9") do |f|
    = f.alert_message t('common.message_fix_errors')
    = f.text_field :street
    = f.text_field :number
    = f.text_field :postcode
    = f.text_field :city
    -#= f.text_field :country
    = f.form_group do
      = f.country_select :country, { selected: location.country }, { class: 'form-control' }
    - if is_admin?
      = f.number_field :house_id
    = f.form_group do
      = f.submit t('forms.finish')
      = f.submit t('forms.reset'), type: "reset", class: "btn btn-default"

:javascript
  onMapClick = function(e) {
    console.log("You clicked the marker " + e.target.index);
  };

  $(document).ready(function() {
    #{render 'articles/map_show.js.erb', houses: [resource.location.house], articles: resource.articles, formats: [:js]}
  });
