- @title = t('titles.users.registrations.guidepost')

.col-xs-12.col-sm-3.col-sm-push-9
  = tipp_panel do
    = t('.tipp_panel_text')
    
.col-xs-12.col-sm-9.col-sm-pull-3
  = content_tag :h3, @title
  - if (current_user.firstname.blank? && current_user.lastname.blank?) || !(current_user.showemail || ( current_user.showphone && !current_user.phoneno.blank?))
    %p
      Deine Kontaktinformationen scheinen nicht vollständig zu sein. Aktualisiere sie jetzt!
    = bootstrap_form_for(resource, as: resource_name, url: user_guidepost_path, html: { method: :put }, layout: :horizontal) do |f|
      = devise_error_messages!
      = f.text_field :firstname
      = f.text_field :lastname
      = f.text_field :phoneno
      = f.form_group do
        = f.check_box :showemail
        = f.check_box :showphone
      = f.form_group do
        = f.submit t('forms.finish')
  - elsif current_user.locations.count == 0
    %p
      Du hast noch keinen Standort angegeben. Standorte sind Adressen, an denen du Dinge verleihst. Also deine Garage, dein Schrebergarten und natürlich dein Zuhause. Fang also am besten mit Deinem Wohnsitz an!
      = bootstrap_form_for(@location, url: user_guidepost_path, layout: :horizontal) do |f|
        = f.alert_message t('common.message_fix_errors')
        = f.text_field :street_and_no
        = f.text_field :postcode
        = f.text_field :city
        = f.text_field :country
        = f.form_group do
          = f.submit t('forms.finish')

  - elsif current_user.articles.count == 0
    %p
      Jetzt bist Du bereit Dein Angebot zu erstellen. Auf zum
    = link_to t('titles.articles.new_from_stockitems'), user_new_article_from_stockitems_path, class: "btn btn-default"
  - elsif current_user.articles.count < 10
    %p
      Du hast bisher nur wenige Artikel eingestellt. Auf zum
    = link_to t('titles.articles.new_from_stockitems'), user_new_article_from_stockitems_path, class: "btn btn-default"
  - else
    %p
      Dein Profil ist gut aufgestellt! Was möchtest du tun?
    = link_to t('titles.users.registrations.edit'), edit_user_registration_path, class: "btn btn-default"
    = link_to t('titles.locations.index_owner'), locations_path, class: "btn btn-default"
    = link_to t('titles.articles.index_owner'), articles_path, class: "btn btn-default"
    = link_to t('titles.articles.new_from_stockitems'), user_new_article_from_stockitems_path, class: "btn btn-default"
