- @title = @user.nickname
- @with_map = true

.row
  .col-xs-12.col-sm-3
    = tipp_panel do
      = render 'show_help'

  .col-xs-12.col-sm-9
    %h3.text-center= @title

    - if @user.aboutme && !@user.aboutme.empty?
      .row
        .col-xs-12
          %p.text-center
            %cite
              = succeed '"' do
                = precede '"' do
                  = @user.aboutme
    - if @user.location
      .house
        .row
          .col-xs-12.col-sm-6
            = location_marker(@user.location)
          .col-xs-12.col-sm-6
            - if @user.location.house.locations.count > 1
              = t('.text_there_are_x_users_in_this', count: @user.location.house.locations.count-1)
              = link_to @user.location.house do
                %span.glyphicon.glyphicon-home
                = House.model_name.human

    .row
      - unless @with_contact
        .shareshore-panel
          %h4= t('.heading_contact_info', nickname: @user.nickname)
          = bootstrap_form_tag url: user_path(@user), method: :get do |f|
            = f.form_group do
              = recaptcha_tags
            = f.form_group do
              = f.submit t('.view_contact_details_button'), class: "btn btn-default"

      - else
        .col-xs-12.col-lg-6
          = render 'contact', user: @user

    .row
      .col-xs-12.text-center.shareshore-panel
        %h3
          %span.articles_count= @articles.count
          = Article.model_name.human(count: @articles.count)

    - @articles.each do |article|
      .article-pane{article_title: "#{article.title}"}
        .row
          .col-xs-1
          .col-xs-10
            = render 'articles/article_view', article: article, edit: false
          .col-xs-1

:javascript
  $(document).ready(function() {
    #{render 'articles/map_show.js.erb', houses: [@user.location.house], articles: @articles}
  });
