- @title = @user.nickname

.col-xs-12.col-sm-3.col-sm-push-9
  = tipp_panel do
    = render 'show_help'

.col-xs-12.col-sm-9.col-sm-pull-3
  %h3= @title
      
  .row
    .col-xs-2
      %strong
        = succeed ':' do
          = User.human_attribute_name('locations')
    .col-xs-10
      - if @user.locations.empty?
        = t('.empty_locations_list_message')
      - @user.locations.each do |location|
        = location_marker location
        (#{articles_location_count(location)})
        %br/
        
  - if is_admin?
    .row
      .col-xs-12
        = link_to "Articles", articles_path(user_id: @user.id), class: 'btn btn-danger btn-xs'
        = link_to "Locations", locations_path(user_id: @user.id), class: 'btn btn-danger btn-xs'
  - unless @with_contact
    .shareshore-panel
      %h4= t('.heading_contact_info')
      = bootstrap_form_tag url: user_path(@user), method: :get do |f|
        = f.form_group do
          = recaptcha_tags
        = f.form_group do
          = f.submit t('.view_contact_details_button'), class: "btn btn-default"

  - else
    = render 'contact', user: @user, showemail: @user.showemail, showphone: @user.showphone, showname: @user.showname
