- @title = @user.nickname
- @with_map = true

.col-xs-12.col-sm-9
  %h3.text-center= @title
      
  - if is_admin?
    .row
      .col-xs-12
        = link_to "Articles", articles_path(user_id: @user.id), class: 'btn btn-danger btn-xs'
        = link_to "Locations", locations_path(user_id: @user.id), class: 'btn btn-danger btn-xs'
  - if @user.aboutme && !@user.aboutme.empty?
    .row
      .col-xs-12
        %p.text-center
          %cite
            = succeed '"' do
              = precede '"' do
                = @user.aboutme
             
  .row
    - unless @with_contact
      .shareshore-panel
        %h4= t('.heading_contact_info', nickname: @user.nickname)
        = bootstrap_form_tag url: user_path(@user), method: :get do |f|
          = f.form_group do
            = recaptcha_tags
          = f.form_group do
            = f.submit t('.view_contact_details_button'), class: "btn btn-default"

    - else
      .col-xs-12.col-lg-6
        = render 'contact', user: @user, showemail: @user.showemail, showphone: @user.showphone, showname: @user.showname
      .col-xs-12.col-lg-6
        = link_to '#', class: 'mp-toggle-visibility', data: { toggle_target: '.message-panel' } do
          %h4= t('.heading_message', nickname: @user.nickname)
        .message-panel.to_hide
          - if user_signed_in?
            .send-message
              - message = Message.new({receiver: @user, with_phoneno: !current_user.phoneno.blank?, with_email: !current_user.email.blank?})
              = bootstrap_form_for message, remote: true, html: {class: "message_form"} do |f|
                = f.alert_message t('common.message_fix_errors')
                = f.text_area :text, placeholder: t('.placeholder_message_text'), hide_label: true
                = f.hidden_field :receiver_id
                = f.form_group do
                  -# unless current_user.fullname.blank?
                    = f.check_box :with_name, label: "#{Message.human_attribute_name(:with_name)} (#{current_user.fullname})"
                  -# unless current_user.phoneno.blank?
                    = f.check_box :with_phoneno, label: "#{Message.human_attribute_name(:with_phoneno)} (#{current_user.phoneno})"
                  -# else
                    = f.hidden_field :with_phoneno
                  -# unless current_user.email.blank?
                    = f.check_box :with_email, label: "#{Message.human_attribute_name(:with_email)} (#{current_user.email})"
                  -# else
                    = f.hidden_field :with_email
                = f.form_group do
                  = f.submit t('.button_label_send_message')
            .message-was-send{style: "display: none"}
              = t('.message_was_send')
            .waiting{style: "display: none"}
              = t('.waiting')
            .error-msg{style: "display: none"}
          - else
            .col-xs-6
              = t('.text_only_signed_up_users')
            .col-xs-6.text-right
              = link_to t('titles.users.sessions.new'), new_user_session_path, class: "btn btn-default"

  -#.row
    .col-xs-2
      %strong
        = succeed ':' do
          = User.human_attribute_name('locations')
    .col-xs-10
      - if @user.locations.empty?
        = t('.empty_locations_list_message')
      - @user.locations.each do |location|
        = location_marker location
        (#{articles_location_count(location)})
        %br/

  = render 'searches/results', context: 'profile'
  
.col-xs-12.col-sm-3
  = tipp_panel do
    = render 'show_help'

:javascript
  onMapClick = function(e) {
    console.log("You clicked the marker " + e.target.index);
  };
  
  $(document).ready(function() {
    #{render 'articles/map_show.js.erb', houses: @houses, articles: @articles, formats: [:js]}    
  });

